Order Viewer/xslt/EMCOrder10.dtd

<?xml version="1.0" encoding="UTF-8"?>


<!-- EMC order DTD
     Version 1.0 dated 28 July 2011
     Typical invocation:
     <!DOCTYPE orders SYSTEM "emc_order.dtd">
-->


<!ENTITY % mo        "(01|02|03|04|05|06|07|08|09|10|11|12)" >
<!ENTITY % day       "(01|02|03|04|05|06|07|08|09|10|11|12|13|14|15|16|
                       17|18|19|20|21|22|23|24|25|26|27|28|29|30|31)" >
<!ENTITY % hr        "(00|01|02|03|04|05|06|07|08|09|10|11|
                       12|13|14|15|16|17|18|19|20|21|22|23)" >
<!ENTITY % ms        "(00|01|02|03|04|05|06|07|08|09|
                       10|11|12|13|14|15|16|17|18|19|
                       20|21|22|23|24|25|26|27|28|29|
                       30|31|32|33|34|35|36|37|38|39|
                       40|41|42|43|44|45|46|47|48|49|
                       50|51|52|53|54|55|56|57|58|59)" >

<!ELEMENT orders	( order+ )>
<!ELEMENT order		( time, due-date?, prod-site, stage, executor+, copyright?, item-info)>
<!ATTLIST order
	category CDATA #IMPLIED
	customer CDATA #IMPLIED
>

<!ELEMENT time EMPTY>
<!ATTLIST  time
           day                %day;    #REQUIRED
           month              %mo;     #REQUIRED
           yr                 NMTOKEN  #REQUIRED
           hr                 %hr;     #IMPLIED
           min                %ms;     #IMPLIED
           sec                %ms;     #IMPLIED>

<!ELEMENT due-date ( date? )>

<!ELEMENT date EMPTY>
<!ATTLIST date
           day                %day;    #REQUIRED
           month              %mo;     #REQUIRED
           yr                 NMTOKEN  #REQUIRED
>
<!ELEMENT prod-site (#PCDATA)>

<!ELEMENT stage EMPTY>
<!ATTLIST stage
	step CDATA #IMPLIED
>

<!ELEMENT executor ( exec-code?, exec-name?, aff? )>
<!ATTLIST executor
	type CDATA #IMPLIED
>
<!ELEMENT exec-code (#PCDATA)>
<!ELEMENT exec-name (#PCDATA)>

<!ELEMENT copyright ( copyright-info?, copyright-code? )>

<!ELEMENT copyright-info (#PCDATA)>
<!ELEMENT copyright-code (#PCDATA)>




<!ELEMENT item-info ( tra-root?, tracode?, fasnumero?, traid?, trajid?, aid?, pii?, doi?, item-title?, item-subtitle?, traite-title?, ar-info?, color-model?, issn?, isbn?, typesetting-model-format?, typesetting?, article-type?, maj-info?, vol?, chaptre?, subchaptre?, nb-pages-commande?, nb-pages-estimate?, nb-tableau?, nb-fig?, nb-photo?, nb-dessin?, nb-arbre-papier?, nb-encadre-t1?, nb-encadre-t2?, nb-biblio?, nb-biblio-ss?, nb-savoir-plus?, resume-en?, resume-fr?, mc-en?, mc-fr?, titre-en?, multimedia?, remark?, author? )>

<!ELEMENT second-author ( nom?, pnom?, aff?, ss? )>
<!ELEMENT prod-author ( nom?, pnom?, aff?, ss? )>
<!ELEMENT princ-author ( nom?, pnom?, aff?, ss? )>


<!ELEMENT zipcode (#PCDATA)>
<!ATTLIST zipcode
	zipcode-pos CDATA #IMPLIED
>

<!ELEMENT multimedia ( nb-arbre-intractif?, nb-icono-sup?, nb-video?, nb-doc-legaux?, nb-fiche-patient?, nb-fiche-tech?, nb-autoeval?, nb-clinique?, nb-quotidien?, autre-nb?, appel-icono?, appel-biblio?, icono-ok?, arbre-deci? ) >

<!ELEMENT maj-info ( maj-no?, maj-cote?, maj-anne? )>

<!ELEMENT tra-root (#PCDATA)>
<!ELEMENT tracode (#PCDATA)>
<!ELEMENT fasnumero (#PCDATA)>
<!ELEMENT vol (#PCDATA)>
<!ELEMENT typesetting (#PCDATA)>
<!ELEMENT trajid (#PCDATA)>
<!ELEMENT traid (#PCDATA)>
<!ELEMENT titre-en (#PCDATA)>
<!ELEMENT doi (#PCDATA)>
<!ELEMENT tel (#PCDATA)>
<!ELEMENT subchaptre (#PCDATA)>
<!ELEMENT ss (#PCDATA)>
<!ELEMENT resume-fr (#PCDATA)>
<!ELEMENT resume-en (#PCDATA)>
<!ELEMENT remark (#PCDATA)>
<!ELEMENT pnom (#PCDATA)>
<!ELEMENT pii (#PCDATA)>
<!ELEMENT phone (#PCDATA)>
<!ELEMENT nom (#PCDATA)>
<!ELEMENT nbvide (#PCDATA)>
<!ELEMENT nb-video (#PCDATA)>
<!ELEMENT nb-tableau (#PCDATA)>
<!ELEMENT nb-savoir-plus (#PCDATA)>
<!ELEMENT nb-quotidien (#PCDATA)>
<!ELEMENT nb-photo (#PCDATA)>
<!ELEMENT nb-pages-estimate (#PCDATA)>
<!ELEMENT nb-pages-commande (#PCDATA)>
<!ELEMENT nb-icono-sup (#PCDATA)>
<!ELEMENT nb-fig (#PCDATA)>
<!ELEMENT nb-fiche-tech (#PCDATA)>
<!ELEMENT nb-fiche-patient (#PCDATA)>
<!ELEMENT nb-encadre-t2 (#PCDATA)>
<!ELEMENT nb-encadre-t1 (#PCDATA)>
<!ELEMENT nb-doc-legaux (#PCDATA)>
<!ELEMENT nb-dessin (#PCDATA)>
<!ELEMENT nb-clinique (#PCDATA)>
<!ELEMENT nb-biblio-ss (#PCDATA)>
<!ELEMENT nb-biblio (#PCDATA)>
<!ELEMENT nb-autoeval (#PCDATA)>
<!ELEMENT nb-arbre-papier (#PCDATA)>
<!ELEMENT nb-arbre-intractif (#PCDATA)>
<!ELEMENT mc-fr (#PCDATA)>
<!ELEMENT mc-en (#PCDATA)>
<!ELEMENT maj-no (#PCDATA)>
<!ELEMENT maj-cote (#PCDATA)>
<!ELEMENT maj-anne (#PCDATA)>
<!ELEMENT lblvide (#PCDATA)>
<!ELEMENT item-title (#PCDATA)>
<!ELEMENT item-subtitle (#PCDATA)>
<!ELEMENT traite-title (#PCDATA)>
<!ELEMENT issn (#PCDATA)>
<!ELEMENT isbn (#PCDATA)>
<!ELEMENT typesetting-model-format (#PCDATA)>
<!ELEMENT icono-ok (#PCDATA)>
<!ELEMENT fax (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT cty (#PCDATA)>

<!ELEMENT corr-author ( phone?, fax?, email? )>

<!ELEMENT color-model (#PCDATA)>
<!ELEMENT cny (#PCDATA)>
<!ELEMENT chaptre (#PCDATA)>

<!ELEMENT autre-nb ( lblvide?, nbvide? )>

<!ELEMENT author ( princ-author?, second-author?, prod-author?, corr-author? )>

<!ELEMENT article-type (#PCDATA)>
<!ELEMENT arbre-deci (#PCDATA)>
<!ELEMENT ar-info ((ar))>
<!ELEMENT ar (#PCDATA)>
<!ELEMENT appel-icono (#PCDATA)>
<!ELEMENT appel-biblio (#PCDATA)>
<!ELEMENT aid (#PCDATA)>

<!ELEMENT aff (#PCDATA | address | address-contd | zipcode | cty | cny | tel | fax)*>

<!ELEMENT address-contd (#PCDATA)>
<!ELEMENT address (#PCDATA)>


<!ENTITY angzarr "&#x0237C;">
<!ENTITY cirmid "&#x02AEF;">
<!ENTITY cudarrl "&#x02938;">
<!ENTITY cudarrr "&#x02935;">
<!ENTITY cularr "&#x021B6;">
<!ENTITY cularrp "&#x0293D;">
<!ENTITY curarr "&#x021B7;">
<!ENTITY curarrm "&#x0293C;">
<!ENTITY Darr "&#x021A1;">
<!ENTITY dArr "&#x021D3;">
<!ENTITY ddarr "&#x021CA;">
<!ENTITY DDotrahd "&#x02911;">
<!ENTITY dfisht "&#x0297F;">
<!ENTITY dHar "&#x02965;">
<!ENTITY dharl "&#x021C3;">
<!ENTITY dharr "&#x021C2;">
<!ENTITY duarr "&#x021F5;">
<!ENTITY duhar "&#x0296F;">
<!ENTITY dzigrarr "&#x027FF;">
<!ENTITY erarr "&#x02971;">
<!ENTITY hArr "&#x021D4;">
<!ENTITY harr "&#x02194;">
<!ENTITY harrcir "&#x02948;">
<!ENTITY harrw "&#x021AD;">
<!ENTITY hoarr "&#x021FF;">
<!ENTITY imof "&#x022B7;">
<!ENTITY lAarr "&#x021DA;">
<!ENTITY Larr "&#x0219E;">
<!ENTITY larrbfs "&#x0291F;">
<!ENTITY larrfs "&#x0291D;">
<!ENTITY larrhk "&#x021A9;">
<!ENTITY larrlp "&#x021AB;">
<!ENTITY larrpl "&#x02939;">
<!ENTITY larrsim "&#x02973;">
<!ENTITY larrtl "&#x021A2;">
<!ENTITY lAtail "&#x0291B;">
<!ENTITY latail "&#x02919;">
<!ENTITY lBarr "&#x0290E;">
<!ENTITY lbarr "&#x0290C;">
<!ENTITY ldca "&#x02936;">
<!ENTITY ldrdhar "&#x02967;">
<!ENTITY ldrushar "&#x0294B;">
<!ENTITY ldsh "&#x021B2;">
<!ENTITY lfisht "&#x0297C;">
<!ENTITY lHar "&#x02962;">
<!ENTITY lhard "&#x021BD;">
<!ENTITY lharu "&#x021BC;">
<!ENTITY lharul "&#x0296A;">
<!ENTITY llarr "&#x021C7;">
<!ENTITY llhard "&#x0296B;">
<!ENTITY loarr "&#x021FD;">
<!ENTITY lrarr "&#x021C6;">
<!ENTITY lrhar "&#x021CB;">
<!ENTITY lrhard "&#x0296D;">
<!ENTITY lsh "&#x021B0;">
<!ENTITY lurdshar "&#x0294A;">
<!ENTITY luruhar "&#x02966;">
<!ENTITY Map "&#x02905;">
<!ENTITY map "&#x021A6;">
<!ENTITY midcir "&#x02AF0;">
<!ENTITY mumap "&#x022B8;">
<!ENTITY nearhk "&#x02924;">
<!ENTITY neArr "&#x021D7;">
<!ENTITY nearr "&#x02197;">
<!ENTITY nesear "&#x02928;">
<!ENTITY nhArr "&#x021CE;">
<!ENTITY nharr "&#x021AE;">
<!ENTITY nlArr "&#x021CD;">
<!ENTITY nlarr "&#x0219A;">
<!ENTITY nrArr "&#x021CF;">
<!ENTITY nrarr "&#x0219B;">
<!ENTITY nrarrc "⤳̸">
<!ENTITY nrarrw "↝̸">
<!ENTITY nvHarr "&#x021CE;">
<!ENTITY nvlArr "&#x021CD;">
<!ENTITY nvrArr "&#x021CF;">
<!ENTITY nwarhk "&#x02923;">
<!ENTITY nwArr "&#x021D6;">
<!ENTITY nwarr "&#x02196;">
<!ENTITY nwnear "&#x02927;">
<!ENTITY olarr "&#x021BA;">
<!ENTITY orarr "&#x021BB;">
<!ENTITY origof "&#x022B6;">
<!ENTITY rAarr "&#x021DB;">
<!ENTITY Rarr "&#x021A0;">
<!ENTITY rarrap "&#x02975;">
<!ENTITY rarrbfs "&#x02920;">
<!ENTITY rarrc "&#x02933;">
<!ENTITY rarrfs "&#x0291E;">
<!ENTITY rarrhk "&#x021AA;">
<!ENTITY rarrlp "&#x021AC;">
<!ENTITY rarrpl "&#x02945;">
<!ENTITY rarrsim "&#x02974;">
<!ENTITY Rarrtl "&#x02916;">
<!ENTITY rarrtl "&#x021A3;">
<!ENTITY rarrw "&#x0219D;">
<!ENTITY rAtail "&#x0291C;">
<!ENTITY ratail "&#x021A3;">
<!ENTITY RBarr "&#x02910;">
<!ENTITY rBarr "&#x0290F;">
<!ENTITY rbarr "&#x0290D;">
<!ENTITY rdca "&#x02937;">
<!ENTITY rdldhar "&#x02969;">
<!ENTITY rdsh "&#x021B3;">
<!ENTITY rfisht "&#x0297D;">
<!ENTITY rHar "&#x02964;">
<!ENTITY rhard "&#x021C1;">
<!ENTITY rharu "&#x021C0;">
<!ENTITY rharul "&#x0296C;">
<!ENTITY rlarr "&#x021C4;">
<!ENTITY rlhar "&#x021CC;">
<!ENTITY roarr "&#x021FE;">
<!ENTITY rrarr "&#x021C9;">
<!ENTITY rsh "&#x021B1;">
<!ENTITY ruluhar "&#x02968;">
<!ENTITY searhk "&#x02925;">
<!ENTITY seArr "&#x021D8;">
<!ENTITY searr "&#x02198;">
<!ENTITY seswar "&#x02929;">
<!ENTITY simrarr "&#x02972;">
<!ENTITY slarr "&#x02190;">
<!ENTITY srarr "&#x02192;">
<!ENTITY swarhk "&#x02926;">
<!ENTITY swArr "&#x021D9;">
<!ENTITY swarr "&#x02199;">
<!ENTITY swnwar "&#x0292A;">
<!ENTITY Uarr "&#x0219F;">
<!ENTITY uArr "&#x021D1;">
<!ENTITY Uarrocir "&#x02949;">
<!ENTITY udarr "&#x021C5;">
<!ENTITY udhar "&#x0296E;">
<!ENTITY ufisht "&#x0297E;">
<!ENTITY uHar "&#x02963;">
<!ENTITY uharl "&#x021BF;">
<!ENTITY uharr "&#x021BE;">
<!ENTITY uuarr "&#x021C8;">
<!ENTITY vArr "&#x021D5;">
<!ENTITY varr "&#x02195;">
<!ENTITY xhArr "&#x027FA;">
<!ENTITY xharr "&#x027F7;">
<!ENTITY xlArr "&#x027F8;">
<!ENTITY xlarr "&#x027F5;">
<!ENTITY xmap "&#x027FC;">
<!ENTITY xrArr "&#x027F9;">
<!ENTITY xrarr "&#x027F6;">
<!ENTITY zigrarr "&#x021DD;">
<!ENTITY ac "&#x0290F;">
<!ENTITY acE "&#x029DB;">
<!ENTITY amalg "&#x02A3F;">
<!ENTITY barvee "&#x022BD;">
<!ENTITY Barwed "&#x02306;">
<!ENTITY barwed "&#x022BC;">
<!ENTITY bsolb "&#x029C5;">
<!ENTITY Cap "&#x022D2;">
<!ENTITY capand "&#x02A44;">
<!ENTITY capbrcup "&#x02A49;">
<!ENTITY capcap "&#x02A4B;">
<!ENTITY capcup "&#x02A47;">
<!ENTITY capdot "&#x02A40;">
<!ENTITY caps "∩︀">
<!ENTITY ccaps "&#x02A4D;">
<!ENTITY ccups "&#x02A4C;">
<!ENTITY ccupssm "&#x02A50;">
<!ENTITY coprod "&#x02210;">
<!ENTITY Cup "&#x022D3;">
<!ENTITY cupbrcap "&#x02A48;">
<!ENTITY cupcap "&#x02A46;">
<!ENTITY cupcup "&#x02A4A;">
<!ENTITY cupdot "&#x0228D;">
<!ENTITY cupor "&#x02A45;">
<!ENTITY cups "∪︀">
<!ENTITY cuvee "&#x022CE;">
<!ENTITY cuwed "&#x022CF;">
<!ENTITY Dagger "&#x02021;">
<!ENTITY dagger "&#x02020;">
<!ENTITY diam "&#x022C4;">
<!ENTITY divonx "&#x022C7;">
<!ENTITY eplus "&#x02A71;">
<!ENTITY hercon "&#x022B9;">
<!ENTITY intcal "&#x022BA;">
<!ENTITY iprod "&#x02A3C;">
<!ENTITY loplus "&#x02A2D;">
<!ENTITY lotimes "&#x02A34;">
<!ENTITY lthree "&#x022CB;">
<!ENTITY ltimes "&#x022C9;">
<!ENTITY midast "&#x0002A;">
<!ENTITY minusb "&#x0229F;">
<!ENTITY minusd "&#x02238;">
<!ENTITY minusdu "&#x02A2A;">
<!ENTITY ncap "&#x02A43;">
<!ENTITY ncup "&#x02A42;">
<!ENTITY oast "&#x0229B;">
<!ENTITY ocir "&#x0229A;">
<!ENTITY odash "&#x0229D;">
<!ENTITY odiv "&#x02A38;">
<!ENTITY odot "&#x02299;">
<!ENTITY odsold "&#x029BC;">
<!ENTITY ofcir "&#x029BF;">
<!ENTITY ogt "&#x029C1;">
<!ENTITY ohbar "&#x029B5;">
<!ENTITY olcir "&#x029BE;">
<!ENTITY olt "&#x029C0;">
<!ENTITY omid "&#x029B6;">
<!ENTITY ominus "&#x02296;">
<!ENTITY opar "&#x029B7;">
<!ENTITY operp "&#x029B9;">
<!ENTITY oplus "&#x02295;">
<!ENTITY osol "&#x02298;">
<!ENTITY Otimes "&#x02A37;">
<!ENTITY otimes "&#x02297;">
<!ENTITY otimesas "&#x02A36;">
<!ENTITY ovbar "&#x0233D;">
<!ENTITY plusacir "&#x02A23;">
<!ENTITY plusb "&#x0229E;">
<!ENTITY pluscir "&#x02A22;">
<!ENTITY plusdo "&#x02214;">
<!ENTITY plusdu "&#x02A25;">
<!ENTITY pluse "&#x02A72;">
<!ENTITY plussim "&#x02A26;">
<!ENTITY plustwo "&#x02A27;">
<!ENTITY prod "&#x0220F;">
<!ENTITY race "&#x029DA;">
<!ENTITY roplus "&#x02A2E;">
<!ENTITY rotimes "&#x02A35;">
<!ENTITY rthree "&#x022CC;">
<!ENTITY rtimes "&#x022CA;">
<!ENTITY sdot "&#x022C5;">
<!ENTITY sdotb "&#x022A1;">
<!ENTITY setmn "&#x02216;">
<!ENTITY simplus "&#x02A24;">
<!ENTITY smashp "&#x02A33;">
<!ENTITY solb "&#x029C4;">
<!ENTITY sqcap "&#x02293;">
<!ENTITY sqcaps "⊓︀">
<!ENTITY sqcup "&#x02294;">
<!ENTITY sqcups "⊔︀">
<!ENTITY ssetmn "&#x02216;">
<!ENTITY sstarf "&#x022C6;">
<!ENTITY subdot "&#x02ABD;">
<!ENTITY sum "&#x02211;">
<!ENTITY supdot "&#x02ABE;">
<!ENTITY timesb "&#x022A0;">
<!ENTITY timesbar "&#x02A31;">
<!ENTITY timesd "&#x02A30;">
<!ENTITY tridot "&#x025EC;">
<!ENTITY triminus "&#x02A3A;">
<!ENTITY triplus "&#x02A39;">
<!ENTITY trisb "&#x029CD;">
<!ENTITY tritime "&#x02A3B;">
<!ENTITY uplus "&#x0228E;">
<!ENTITY veebar "&#x022BB;">
<!ENTITY wedbar "&#x02A5F;">
<!ENTITY wreath "&#x02240;">
<!ENTITY xcap "&#x022C2;">
<!ENTITY xcirc "&#x025EF;">
<!ENTITY xcup "&#x022C3;">
<!ENTITY xdtri "&#x025BD;">
<!ENTITY xodot "&#x02299;">
<!ENTITY xoplus "&#x02295;">
<!ENTITY xotime "&#x02297;">
<!ENTITY xsqcup "&#x02294;">
<!ENTITY xuplus "&#x0228E;">
<!ENTITY xutri "&#x025B3;">
<!ENTITY xvee "&#x022C1;">
<!ENTITY xwedge "&#x022C0;">
<!ENTITY dlcorn "&#x0231E;">
<!ENTITY drcorn "&#x0231F;">
<!ENTITY gtlPar "&#x02995;">
<!ENTITY langd "&#x02991;">
<!ENTITY lbrke "&#x0298B;">
<!ENTITY lbrksld "&#x0298F;">
<!ENTITY lbrkslu "&#x0298D;">
<!ENTITY lceil "&#x02308;">
<!ENTITY lfloor "&#x0230A;">
<!ENTITY lmoust "&#x023B0;">
<!ENTITY lparlt "&#x02993;">
<!ENTITY ltrPar "&#x02996;">
<!ENTITY rangd "&#x02992;">
<!ENTITY rbrke "&#x0298C;">
<!ENTITY rbrksld "&#x0298E;">
<!ENTITY rbrkslu "&#x02990;">
<!ENTITY rceil "&#x02309;">
<!ENTITY rfloor "&#x0230B;">
<!ENTITY rmoust "&#x023B1;">
<!ENTITY rpargt "&#x02994;">
<!ENTITY ulcorn "&#x0231C;">
<!ENTITY urcorn "&#x0231D;">
<!ENTITY gnap "&#x02A8A;">
<!ENTITY gnE "&#x02269;">
<!ENTITY gne "&#x02269;">
<!ENTITY gnsim "&#x022E7;">
<!ENTITY gvnE "≩︀">
<!ENTITY lnap "&#x02A89;">
<!ENTITY lnE "&#x02268;">
<!ENTITY lne "&#x02268;">
<!ENTITY lnsim "&#x022E6;">
<!ENTITY lvnE "≨︀">
<!ENTITY nap "&#x02249;">
<!ENTITY napE "⩰̸">
<!ENTITY napid "≋̸">
<!ENTITY ncong "&#x02247;">
<!ENTITY ncongdot "⩭̸">
<!ENTITY nequiv "&#x02262;">
<!ENTITY ngE "⩾̸">
<!ENTITY nge "&#x02271;">
<!ENTITY nges "⩾̸">
<!ENTITY nGg "⋙̸">
<!ENTITY ngsim "&#x02275;">
<!ENTITY nGt "≫⃒">
<!ENTITY ngt "&#x0226F;">
<!ENTITY nGtv "≫̸">
<!ENTITY nlE "⩽̸">
<!ENTITY nle "&#x02270;">
<!ENTITY nles "⩽̸">
<!ENTITY nLl "⋘̸">
<!ENTITY nlsim "&#x02274;">
<!ENTITY nLt "≪⃒">
<!ENTITY nlt "&#x0226E;">
<!ENTITY nltri "&#x022EA;">
<!ENTITY nltrie "&#x022EC;">
<!ENTITY nLtv "≪̸">
<!ENTITY nmid "&#x02224;">
<!ENTITY npar "&#x02226;">
<!ENTITY npr "&#x02280;">
<!ENTITY nprcue "&#x022E0;">
<!ENTITY npre "⪯̸">
<!ENTITY nrtri "&#x022EB;">
<!ENTITY nrtrie "&#x022ED;">
<!ENTITY nsc "&#x02281;">
<!ENTITY nsccue "&#x022E1;">
<!ENTITY nsce "⪰̸">
<!ENTITY nsim "&#x02241;">
<!ENTITY nsime "&#x02244;">
<!ENTITY nsmid "&#x02224;">
<!ENTITY nspar "&#x02226;">
<!ENTITY nsqsube "&#x022E2;">
<!ENTITY nsqsupe "&#x022E3;">
<!ENTITY nsub "&#x02284;">
<!ENTITY nsubE "&#x02288;">
<!ENTITY nsube "&#x02288;">
<!ENTITY nsup "&#x02285;">
<!ENTITY nsupE "&#x02289;">
<!ENTITY nsupe "&#x02289;">
<!ENTITY ntgl "&#x02279;">
<!ENTITY ntlg "&#x02278;">
<!ENTITY nvap "≍⃒">
<!ENTITY nVDash "&#x022AF;">
<!ENTITY nVdash "&#x022AE;">
<!ENTITY nvDash "&#x022AD;">
<!ENTITY nvdash "&#x022AC;">
<!ENTITY nvge "⩾̸">
<!ENTITY nvgt "&#x0226F;">
<!ENTITY nvle "⩽̸">
<!ENTITY nvlt "&#x0226E;">
<!ENTITY nvltrie "⊴⃒">
<!ENTITY nvrtrie "⊵⃒">
<!ENTITY nvsim "∼⃒">
<!ENTITY parsim "&#x02AF3;">
<!ENTITY prnap "&#x022E8;">
<!ENTITY prnE "&#x02AB5;">
<!ENTITY prnsim "&#x022E8;">
<!ENTITY rnmid "&#x02AEE;">
<!ENTITY scnap "&#x022E9;">
<!ENTITY scnE "&#x02AB6;">
<!ENTITY scnsim "&#x022E9;">
<!ENTITY simne "&#x02246;">
<!ENTITY solbar "&#x0233F;">
<!ENTITY subnE "&#x0228A;">
<!ENTITY subne "&#x0228A;">
<!ENTITY supnE "&#x0228B;">
<!ENTITY supne "&#x0228B;">
<!ENTITY vnsub "&#x02284;">
<!ENTITY vnsup "&#x02285;">
<!ENTITY vsubnE "⊊︀">
<!ENTITY vsubne "⊊︀">
<!ENTITY vsupnE "⊋︀">
<!ENTITY vsupne "⊋︀">
<!ENTITY ang "&#x02220;">
<!ENTITY ange "&#x029A4;">
<!ENTITY angmsd "&#x02221;">
<!ENTITY angmsdaa "&#x029A8;">
<!ENTITY angmsdab "&#x029A9;">
<!ENTITY angmsdac "&#x029AA;">
<!ENTITY angmsdad "&#x029AB;">
<!ENTITY angmsdae "&#x029AC;">
<!ENTITY angmsdaf "&#x029AD;">
<!ENTITY angmsdag "&#x029AE;">
<!ENTITY angmsdah "&#x029AF;">
<!ENTITY angrtvb "&#x022BE;">
<!ENTITY angrtvbd "&#x0299D;">
<!ENTITY bbrk "&#x023B5;">
<!ENTITY bemptyv "&#x029B0;">
<!ENTITY beth "&#x02136;">
<!ENTITY boxbox "&#x029C9;">
<!ENTITY bprime "&#x02035;">
<!ENTITY bsemi "&#x0204F;">
<!ENTITY cemptyv "&#x029B2;">
<!ENTITY cirE "&#x029C3;">
<!ENTITY cirscir "&#x029C2;">
<!ENTITY comp "&#x02201;">
<!ENTITY daleth "&#x02138;">
<!ENTITY demptyv "&#x029B1;">
<!ENTITY ell "&#x02113;">
<!ENTITY empty "&#x02205;">
<!ENTITY emptyv "&#x02205;">
<!ENTITY gimel "&#x02137;">
<!ENTITY iiota "&#x02129;">
<!ENTITY image "&#x02111;">
<!ENTITY imath "&#x00131;">
<!ENTITY jmath "&#x0006A;">
<!ENTITY laemptyv "&#x029B4;">
<!ENTITY lltri "&#x025FA;">
<!ENTITY lrtri "&#x022BF;">
<!ENTITY mho "&#x02127;">
<!ENTITY nang "∠⃒">
<!ENTITY nexist "&#x02204;">
<!ENTITY oS "&#x024C8;">
<!ENTITY planck "&#x0210F;">
<!ENTITY plankv "&#x0210F;">
<!ENTITY raemptyv "&#x029B3;">
<!ENTITY range "&#x029A5;">
<!ENTITY real "&#x0211C;">
<!ENTITY tbrk "&#x023B4;">
<!ENTITY ultri "&#x025F8;">
<!ENTITY urtri "&#x025F9;">
<!ENTITY vzigzag "&#x0299A;">
<!ENTITY weierp "&#x02118;">
<!ENTITY apE "&#x0224A;">
<!ENTITY ape "&#x0224A;">
<!ENTITY apid "&#x0224B;">
<!ENTITY asymp "&#x02248;">
<!ENTITY Barv "&#x02AE7;">
<!ENTITY bcong "&#x0224C;">
<!ENTITY bepsi "&#x003F6;">
<!ENTITY bowtie "&#x022C8;">
<!ENTITY bsim "&#x0223D;">
<!ENTITY bsime "&#x022CD;">
<!ENTITY bsolhsub "\⊂">
<!ENTITY bump "&#x0224E;">
<!ENTITY bumpE "&#x02AAE;">
<!ENTITY bumpe "&#x0224F;">
<!ENTITY cire "&#x02257;">
<!ENTITY Colon "&#x02237;">
<!ENTITY Colone "&#x02A74;">
<!ENTITY colone "&#x02254;">
<!ENTITY congdot "&#x02A6D;">
<!ENTITY csub "&#x02ACF;">
<!ENTITY csube "&#x02AD1;">
<!ENTITY csup "&#x02AD0;">
<!ENTITY csupe "&#x02AD2;">
<!ENTITY cuepr "&#x022DE;">
<!ENTITY cuesc "&#x022DF;">
<!ENTITY Dashv "&#x02AE4;">
<!ENTITY dashv "&#x022A3;">
<!ENTITY easter "&#x0225B;">
<!ENTITY ecir "&#x02256;">
<!ENTITY ecolon "&#x02255;">
<!ENTITY eDDot "&#x02A77;">
<!ENTITY eDot "&#x02251;">
<!ENTITY efDot "&#x02252;">
<!ENTITY eg "&#x02A9A;">
<!ENTITY egs "&#x022DD;">
<!ENTITY egsdot "&#x02A98;">
<!ENTITY el "&#x02A99;">
<!ENTITY els "&#x022DC;">
<!ENTITY elsdot "&#x02A97;">
<!ENTITY equest "&#x0225F;">
<!ENTITY equivDD "&#x02A78;">
<!ENTITY erDot "&#x02253;">
<!ENTITY esdot "&#x02250;">
<!ENTITY Esim "&#x02A73;">
<!ENTITY esim "&#x02242;">
<!ENTITY fork "&#x022D4;">
<!ENTITY forkv "&#x02AD9;">
<!ENTITY frown "&#x02322;">
<!ENTITY gap "&#x02273;">
<!ENTITY gE "&#x02267;">
<!ENTITY gEl "&#x022DB;">
<!ENTITY gel "&#x022DB;">
<!ENTITY ges "&#x02A7E;">
<!ENTITY gescc "&#x02AA9;">
<!ENTITY gesdot "&#x02A80;">
<!ENTITY gesdoto "&#x02A82;">
<!ENTITY gesdotol "&#x02A84;">
<!ENTITY gesl "⋛︀">
<!ENTITY gesles "&#x02A94;">
<!ENTITY Gg "&#x022D9;">
<!ENTITY gl "&#x02277;">
<!ENTITY gla "&#x02AA5;">
<!ENTITY glE "&#x02A92;">
<!ENTITY glj "&#x02AA4;">
<!ENTITY gsim "&#x02273;">
<!ENTITY gsime "&#x02A8E;">
<!ENTITY gsiml "&#x02A90;">
<!ENTITY Gt "&#x0226B;">
<!ENTITY gtcc "&#x02AA7;">
<!ENTITY gtcir "&#x02A7A;">
<!ENTITY gtdot "&#x022D7;">
<!ENTITY gtquest "&#x02A7C;">
<!ENTITY gtrarr "&#x02978;">
<!ENTITY homtht "&#x0223B;">
<!ENTITY lap "&#x02272;">
<!ENTITY lat "&#x02AAB;">
<!ENTITY late "&#x02AAD;">
<!ENTITY lates "⪭︀">
<!ENTITY lE "&#x02266;">
<!ENTITY lEg "&#x022DA;">
<!ENTITY leg "&#x022DA;">
<!ENTITY les "&#x02A7D;">
<!ENTITY lescc "&#x02AA8;">
<!ENTITY lesdot "&#x02A7F;">
<!ENTITY lesdoto "&#x02A81;">
<!ENTITY lesdotor "&#x02A83;">
<!ENTITY lesg "⋚︀">
<!ENTITY lesges "&#x02A93;">
<!ENTITY lg "&#x02276;">
<!ENTITY lgE "&#x02A91;">
<!ENTITY Ll "&#x022D8;">
<!ENTITY lsim "&#x02272;">
<!ENTITY lsime "&#x02A8D;">
<!ENTITY lsimg "&#x02A8F;">
<!ENTITY Lt "&#x0226A;">
<!ENTITY ltcc "&#x02AA6;">
<!ENTITY ltcir "&#x02A79;">
<!ENTITY ltdot "&#x022D6;">
<!ENTITY ltlarr "&#x02976;">
<!ENTITY ltquest "&#x02A7B;">
<!ENTITY ltrie "&#x022B4;">
<!ENTITY mcomma "&#x02A29;">
<!ENTITY mDDot "&#x0223A;">
<!ENTITY mid "&#x02223;">
<!ENTITY mlcp "&#x02ADB;">
<!ENTITY models "&#x022A7;">
<!ENTITY mstpos "&#x0223E;">
<!ENTITY Pr "&#x02ABB;">
<!ENTITY pr "&#x0227A;">
<!ENTITY prap "&#x0227E;">
<!ENTITY prcue "&#x0227C;">
<!ENTITY prE "&#x02AAF;">
<!ENTITY pre "&#x02AAF;">
<!ENTITY prsim "&#x0227E;">
<!ENTITY prurel "&#x022B0;">
<!ENTITY ratio "&#x02236;">
<!ENTITY rtrie "&#x022B5;">
<!ENTITY rtriltri "&#x029CE;">
<!ENTITY Sc "&#x02ABC;">
<!ENTITY sc "&#x0227B;">
<!ENTITY scap "&#x0227F;">
<!ENTITY sccue "&#x0227D;">
<!ENTITY scE "&#x0227E;">
<!ENTITY sce "&#x0227D;">
<!ENTITY scsim "&#x0227F;">
<!ENTITY sdote "&#x02A66;">
<!ENTITY simg "&#x02A9E;">
<!ENTITY simgE "&#x02AA0;">
<!ENTITY siml "&#x02A9D;">
<!ENTITY simlE "&#x02A9F;">
<!ENTITY smid "&#x02223;">
<!ENTITY smile "&#x02323;">
<!ENTITY smt "&#x02AAA;">
<!ENTITY smte "&#x02AAC;">
<!ENTITY smtes "⪬︀">
<!ENTITY spar "&#x02225;">
<!ENTITY sqsub "&#x0228F;">
<!ENTITY sqsube "&#x02291;">
<!ENTITY sqsup "&#x02290;">
<!ENTITY sqsupe "&#x02292;">
<!ENTITY Sub "&#x022D0;">
<!ENTITY subE "&#x02286;">
<!ENTITY subedot "&#x02AC3;">
<!ENTITY submult "&#x02AC1;">
<!ENTITY subplus "&#x02ABF;">
<!ENTITY subrarr "&#x02979;">
<!ENTITY subsim "&#x02AC7;">
<!ENTITY subsub "&#x02AD5;">
<!ENTITY subsup "&#x02AD3;">
<!ENTITY Sup "&#x022D1;">
<!ENTITY supdsub "&#x02AD8;">
<!ENTITY supE "&#x02287;">
<!ENTITY supedot "&#x02AC4;">
<!ENTITY suphsol "⊅">
<!ENTITY suphsub "&#x02AD7;">
<!ENTITY suplarr "&#x0297B;">
<!ENTITY supmult "&#x02AC2;">
<!ENTITY supplus "&#x02AC0;">
<!ENTITY supsim "&#x02AC8;">
<!ENTITY supsub "&#x02AD4;">
<!ENTITY supsup "&#x02AD6;">
<!ENTITY thkap "&#x02248;">
<!ENTITY topfork "&#x02ADA;">
<!ENTITY trie "&#x0225C;">
<!ENTITY twixt "&#x0226C;">
<!ENTITY Vbar "&#x02AEB;">
<!ENTITY vBar "&#x02AE8;">
<!ENTITY vBarv "&#x02AE9;">
<!ENTITY VDash "&#x022AB;">
<!ENTITY Vdash "&#x022A9;">
<!ENTITY vDash "&#x022A8;">
<!ENTITY vdash "&#x022A2;">
<!ENTITY Vdashl "&#x02AE6;">
<!ENTITY vltri "&#x022B2;">
<!ENTITY vprop "&#x0221D;">
<!ENTITY vrtri "&#x022B3;">
<!ENTITY Vvdash "&#x022AA;">
<!ENTITY alpha "&#x003B1;">
<!ENTITY beta "&#x003B2;">
<!ENTITY chi "&#x003C7;">
<!ENTITY Delta "&#x00394;">
<!ENTITY delta "&#x003B4;">
<!ENTITY epsi "&#x003B5;">
<!ENTITY epsiv "&#x0025B;">
<!ENTITY eta "&#x003B7;">
<!ENTITY Gamma "&#x00393;">
<!ENTITY gamma "&#x003B3;">
<!ENTITY Gammad "&#x003DC;">
<!ENTITY gammad "&#x003DC;">
<!ENTITY iota "&#x003B9;">
<!ENTITY kappa "&#x003BA;">
<!ENTITY kappav "&#x003F0;">
<!ENTITY Lambda "&#x0039B;">
<!ENTITY lambda "&#x003BB;">
<!ENTITY mu "&#x003BC;">
<!ENTITY nu "&#x003BD;">
<!ENTITY Omega "&#x003A9;">
<!ENTITY omega "&#x003C9;">
<!ENTITY Phi "&#x003A6;">
<!ENTITY phi "&#x003D5;">
<!ENTITY phiv "&#x003C6;">
<!ENTITY Pi "&#x003A0;">
<!ENTITY pi "&#x003C0;">
<!ENTITY piv "&#x003D6;">
<!ENTITY Psi "&#x003A8;">
<!ENTITY psi "&#x003C8;">
<!ENTITY rho "&#x003C1;">
<!ENTITY rhov "&#x003F1;">
<!ENTITY Sigma "&#x003A3;">
<!ENTITY sigma "&#x003C3;">
<!ENTITY sigmav "&#x003C2;">
<!ENTITY tau "&#x003C4;">
<!ENTITY Theta "&#x00398;">
<!ENTITY theta "&#x003B8;">
<!ENTITY thetav "&#x003D1;">
<!ENTITY Upsi "&#x003D2;">
<!ENTITY upsi "&#x003C5;">
<!ENTITY Xi "&#x0039E;">
<!ENTITY xi "&#x003BE;">
<!ENTITY zeta "&#x003B6;">
<!ENTITY Afr "&#x1D504;">
<!ENTITY afr "&#x1D51E;">
<!ENTITY Bfr "&#x1D505;">
<!ENTITY bfr "&#x1D51F;">
<!ENTITY Cfr "&#x0212D;">
<!ENTITY cfr "&#x1D520;">
<!ENTITY Dfr "&#x1D507;">
<!ENTITY dfr "&#x1D521;">
<!ENTITY Efr "&#x1D508;">
<!ENTITY efr "&#x1D522;">
<!ENTITY Ffr "&#x1D509;">
<!ENTITY ffr "&#x1D523;">
<!ENTITY Gfr "&#x1D50A;">
<!ENTITY gfr "&#x1D524;">
<!ENTITY Hfr "&#x0210C;">
<!ENTITY hfr "&#x1D525;">
<!ENTITY Ifr "&#x02111;">
<!ENTITY ifr "&#x1D526;">
<!ENTITY Jfr "&#x1D50D;">
<!ENTITY jfr "&#x1D527;">
<!ENTITY Kfr "&#x1D50E;">
<!ENTITY kfr "&#x1D528;">
<!ENTITY Lfr "&#x1D50F;">
<!ENTITY lfr "&#x1D529;">
<!ENTITY Mfr "&#x1D510;">
<!ENTITY mfr "&#x1D52A;">
<!ENTITY Nfr "&#x1D511;">
<!ENTITY nfr "&#x1D52B;">
<!ENTITY Ofr "&#x1D512;">
<!ENTITY ofr "&#x1D52C;">
<!ENTITY Pfr "&#x1D513;">
<!ENTITY pfr "&#x1D52D;">
<!ENTITY Qfr "&#x1D514;">
<!ENTITY qfr "&#x1D52E;">
<!ENTITY Rfr "&#x0211C;">
<!ENTITY rfr "&#x1D52F;">
<!ENTITY Sfr "&#x1D516;">
<!ENTITY sfr "&#x1D530;">
<!ENTITY Tfr "&#x1D517;">
<!ENTITY tfr "&#x1D531;">
<!ENTITY Ufr "&#x1D518;">
<!ENTITY ufr "&#x1D532;">
<!ENTITY Vfr "&#x1D519;">
<!ENTITY vfr "&#x1D533;">
<!ENTITY Wfr "&#x1D51A;">
<!ENTITY wfr "&#x1D534;">
<!ENTITY Xfr "&#x1D51B;">
<!ENTITY xfr "&#x1D535;">
<!ENTITY Yfr "&#x1D51C;">
<!ENTITY yfr "&#x1D536;">
<!ENTITY Zfr "&#x02128;">
<!ENTITY zfr "&#x1D537;">
<!ENTITY Aopf "&#x1D538;">
<!ENTITY Bopf "&#x1D539;">
<!ENTITY Copf "&#x02102;">
<!ENTITY Dopf "&#x1D53B;">
<!ENTITY Eopf "&#x1D53C;">
<!ENTITY Fopf "&#x1D53D;">
<!ENTITY Gopf "&#x1D53E;">
<!ENTITY Hopf "&#x0210D;">
<!ENTITY Iopf "&#x1D540;">
<!ENTITY Jopf "&#x1D541;">
<!ENTITY Kopf "&#x1D542;">
<!ENTITY Lopf "&#x1D543;">
<!ENTITY Mopf "&#x1D544;">
<!ENTITY Nopf "&#x02115;">
<!ENTITY Oopf "&#x1D546;">
<!ENTITY Popf "&#x02119;">
<!ENTITY Qopf "&#x0211A;">
<!ENTITY Ropf "&#x0211D;">
<!ENTITY Sopf "&#x1D54A;">
<!ENTITY Topf "&#x1D54B;">
<!ENTITY Uopf "&#x1D54C;">
<!ENTITY Vopf "&#x1D54D;">
<!ENTITY Wopf "&#x1D54E;">
<!ENTITY Xopf "&#x1D54F;">
<!ENTITY Yopf "&#x1D550;">
<!ENTITY Zopf "&#x02124;">
<!ENTITY Ascr "&#x1D49C;">
<!ENTITY ascr "&#x1D4B6;">
<!ENTITY Bscr "&#x0212C;">
<!ENTITY bscr "&#x1D4B7;">
<!ENTITY Cscr "&#x1D49E;">
<!ENTITY cscr "&#x1D4B8;">
<!ENTITY Dscr "&#x1D49F;">
<!ENTITY dscr "&#x1D4B9;">
<!ENTITY Escr "&#x02130;">
<!ENTITY escr "&#x0212F;">
<!ENTITY Fscr "&#x02131;">
<!ENTITY fscr "&#x1D4BB;">
<!ENTITY Gscr "&#x1D4A2;">
<!ENTITY gscr "&#x0210A;">
<!ENTITY Hscr "&#x0210B;">
<!ENTITY hscr "&#x1D4BD;">
<!ENTITY Iscr "&#x02110;">
<!ENTITY iscr "&#x1D4BE;">
<!ENTITY Jscr "&#x1D4A5;">
<!ENTITY jscr "&#x1D4BF;">
<!ENTITY Kscr "&#x1D4A6;">
<!ENTITY kscr "&#x1D4C0;">
<!ENTITY Lscr "&#x02112;">
<!ENTITY lscr "&#x02113;">
<!ENTITY Mscr "&#x02133;">
<!ENTITY mscr "&#x1D4C2;">
<!ENTITY Nscr "&#x1D4A9;">
<!ENTITY nscr "&#x1D4C3;">
<!ENTITY Oscr "&#x1D4AA;">
<!ENTITY oscr "&#x02134;">
<!ENTITY Pscr "&#x1D4AB;">
<!ENTITY pscr "&#x1D4C5;">
<!ENTITY Qscr "&#x1D4AC;">
<!ENTITY qscr "&#x1D4C6;">
<!ENTITY Rscr "&#x0211B;">
<!ENTITY rscr "&#x1D4C7;">
<!ENTITY Sscr "&#x1D4AE;">
<!ENTITY sscr "&#x1D4C8;">
<!ENTITY Tscr "&#x1D4AF;">
<!ENTITY tscr "&#x1D4C9;">
<!ENTITY Uscr "&#x1D4B0;">
<!ENTITY uscr "&#x1D4CA;">
<!ENTITY Vscr "&#x1D4B1;">
<!ENTITY vscr "&#x1D4CB;">
<!ENTITY Wscr "&#x1D4B2;">
<!ENTITY wscr "&#x1D4CC;">
<!ENTITY Xscr "&#x1D4B3;">
<!ENTITY xscr "&#x1D4CD;">
<!ENTITY Yscr "&#x1D4B4;">
<!ENTITY yscr "&#x1D4CE;">
<!ENTITY Zscr "&#x1D4B5;">
<!ENTITY zscr "&#x1D4CF;">
<!ENTITY acd "&#x0223F;">
<!ENTITY aleph "&#x02135;">
<!ENTITY And "&#x02A53;">
<!ENTITY and "&#x02227;">
<!ENTITY andand "&#x02A55;">
<!ENTITY andd "&#x02A5C;">
<!ENTITY andslope "&#x02A58;">
<!ENTITY andv "&#x02A5A;">
<!ENTITY angrt "&#x0221F;">
<!ENTITY angsph "&#x02222;">
<!ENTITY angst "&#x0212B;">
<!ENTITY ap "&#x02248;">
<!ENTITY apacir "&#x02A6F;">
<!ENTITY awconint "&#x02233;">
<!ENTITY awint "&#x02A11;">
<!ENTITY becaus "&#x02235;">
<!ENTITY bernou "&#x0212C;">
<!ENTITY bne "=⃥">
<!ENTITY bnequiv "≡⃥">
<!ENTITY bNot "&#x02AED;">
<!ENTITY bnot "&#x02310;">
<!ENTITY bottom "&#x022A5;">
<!ENTITY cap "&#x02229;">
<!ENTITY Cconint "&#x02230;">
<!ENTITY cirfnint "&#x02A10;">
<!ENTITY compfn "&#x02218;">
<!ENTITY cong "&#x02245;">
<!ENTITY Conint "&#x0222F;">
<!ENTITY conint "&#x0222E;">
<!ENTITY ctdot "&#x022EF;">
<!ENTITY cup "&#x0222A;">
<!ENTITY cwconint "&#x02232;">
<!ENTITY cwint "&#x02231;">
<!ENTITY cylcty "&#x0232D;">
<!ENTITY disin "&#x022F2;">
<!ENTITY Dot "&#x000A8;">
<!ENTITY DotDot "&#x020DC;">
<!ENTITY dsol "&#x029F6;">
<!ENTITY dtdot "&#x022F1;">
<!ENTITY dwangle "&#x029A6;">
<!ENTITY epar "&#x022D5;">
<!ENTITY eparsl "&#x029E3;">
<!ENTITY equiv "&#x02261;">
<!ENTITY eqvparsl "&#x029E5;">
<!ENTITY exist "&#x02203;">
<!ENTITY fnof "&#x00192;">
<!ENTITY forall "&#x02200;">
<!ENTITY fpartint "&#x02A0D;">
<!ENTITY ge "&#x02265;">
<!ENTITY hamilt "&#x0210B;">
<!ENTITY iff "&#x021D4;">
<!ENTITY iinfin "&#x029DC;">
<!ENTITY imped "&#x1D543;">
<!ENTITY infin "&#x0221E;">
<!ENTITY Int "&#x0222C;">
<!ENTITY int "&#x0222B;">
<!ENTITY intlarhk "&#x02A17;">
<!ENTITY isin "&#x02208;">
<!ENTITY isindot "&#x022F5;">
<!ENTITY isinE "&#x022F9;">
<!ENTITY isins "&#x022F4;">
<!ENTITY isinsv "&#x022F3;">
<!ENTITY isinv "&#x02208;">
<!ENTITY lagran "&#x02112;">
<!ENTITY Lang "&#x0300A;">
<!ENTITY lang "&#x02329;">
<!ENTITY lArr "&#x021D0;">
<!ENTITY lbbrk "&#x03014;">
<!ENTITY le "&#x02264;">
<!ENTITY loang "&#x02989;">
<!ENTITY lobrk "&#x0301A;">
<!ENTITY lopar "&#x02985;">
<!ENTITY lowast "&#x02217;">
<!ENTITY minus "&#x02212;">
<!ENTITY mnplus "&#x02213;">
<!ENTITY nabla "&#x02207;">
<!ENTITY ne "&#x02260;">
<!ENTITY nedot "≠̇">
<!ENTITY nhpar "&#x02AF2;">
<!ENTITY ni "&#x0220B;">
<!ENTITY nis "&#x022FC;">
<!ENTITY nisd "&#x022FA;">
<!ENTITY niv "&#x0220B;">
<!ENTITY Not "&#x02AEC;">
<!ENTITY notin "&#x02209;">
<!ENTITY notindot "∉̇">
<!ENTITY notinva "&#x02209;">
<!ENTITY notinvb "&#x022F7;">
<!ENTITY notinvc "&#x022F6;">
<!ENTITY notni "&#x0220C;">
<!ENTITY notniva "&#x0220C;">
<!ENTITY notnivb "&#x022FE;">
<!ENTITY notnivc "&#x022FD;">
<!ENTITY nparsl "∥︀⃥">
<!ENTITY npart "∂̸">
<!ENTITY npolint "&#x02A14;">
<!ENTITY nvinfin "&#x029DE;">
<!ENTITY olcross "&#x029BB;">
<!ENTITY Or "&#x02A54;">
<!ENTITY or "&#x02228;">
<!ENTITY ord "&#x02A5D;">
<!ENTITY order "&#x02134;">
<!ENTITY oror "&#x02A56;">
<!ENTITY orslope "&#x02A57;">
<!ENTITY orv "&#x02A5B;">
<!ENTITY par "&#x02225;">
<!ENTITY parsl "∥︀">
<!ENTITY part "&#x02202;">
<!ENTITY permil "&#x02030;">
<!ENTITY perp "&#x022A5;">
<!ENTITY pertenk "&#x02031;">
<!ENTITY phmmat "&#x02133;">
<!ENTITY pointint "&#x02A15;">
<!ENTITY Prime "&#x02033;">
<!ENTITY prime "&#x02032;">
<!ENTITY profalar "&#x0232E;">
<!ENTITY profline "&#x02312;">
<!ENTITY profsurf "&#x02313;">
<!ENTITY prop "&#x0221D;">
<!ENTITY qint "&#x02A0C;">
<!ENTITY qprime "&#x02057;">
<!ENTITY quatint "&#x02A16;">
<!ENTITY radic "&#x0221A;">
<!ENTITY Rang "&#x0300B;">
<!ENTITY rang "&#x0232A;">
<!ENTITY rArr "&#x021D2;">
<!ENTITY rbbrk "&#x03015;">
<!ENTITY roang "&#x0298A;">
<!ENTITY robrk "&#x0301B;">
<!ENTITY ropar "&#x02986;">
<!ENTITY rppolint "&#x02A12;">
<!ENTITY scpolint "&#x02A13;">
<!ENTITY sim "&#x0223C;">
<!ENTITY simdot "&#x02A6A;">
<!ENTITY sime "&#x02243;">
<!ENTITY smeparsl "&#x029E4;">
<!ENTITY square "&#x025A1;">
<!ENTITY squarf "&#x025AA;">
<!ENTITY sub "&#x02282;">
<!ENTITY sube "&#x02286;">
<!ENTITY sup "&#x02283;">
<!ENTITY supe "&#x02287;">
<!ENTITY tdot "&#x020DB;">
<!ENTITY there4 "&#x02234;">
<!ENTITY tint "&#x0222D;">
<!ENTITY top "&#x022A4;">
<!ENTITY topbot "&#x02336;">
<!ENTITY topcir "&#x02AF1;">
<!ENTITY tprime "&#x02034;">
<!ENTITY utdot "&#x022F0;">
<!ENTITY uwangle "&#x029A7;">
<!ENTITY vangrt "&#x022BE;">
<!ENTITY veeeq "&#x0225A;">
<!ENTITY Verbar "&#x02016;">
<!ENTITY wedgeq "&#x02259;">
<!ENTITY xnis "&#x022FB;">
<!ENTITY boxDL "&#x02557;">
<!ENTITY boxDl "&#x02556;">
<!ENTITY boxdL "&#x02555;">
<!ENTITY boxdl "&#x02510;">
<!ENTITY boxDR "&#x02554;">
<!ENTITY boxDr "&#x02553;">
<!ENTITY boxdR "&#x02552;">
<!ENTITY boxdr "&#x0250C;">
<!ENTITY boxH "&#x02550;">
<!ENTITY boxh "&#x02500;">
<!ENTITY boxHD "&#x02566;">
<!ENTITY boxHd "&#x02564;">
<!ENTITY boxhD "&#x02565;">
<!ENTITY boxhd "&#x0252C;">
<!ENTITY boxHU "&#x02569;">
<!ENTITY boxHu "&#x02567;">
<!ENTITY boxhU "&#x02568;">
<!ENTITY boxhu "&#x02534;">
<!ENTITY boxUL "&#x0255D;">
<!ENTITY boxUl "&#x0255C;">
<!ENTITY boxuL "&#x0255B;">
<!ENTITY boxul "&#x02518;">
<!ENTITY boxUR "&#x0255A;">
<!ENTITY boxUr "&#x02559;">
<!ENTITY boxuR "&#x02558;">
<!ENTITY boxur "&#x02514;">
<!ENTITY boxV "&#x02551;">
<!ENTITY boxv "&#x02502;">
<!ENTITY boxVH "&#x0256C;">
<!ENTITY boxVh "&#x0256B;">
<!ENTITY boxvH "&#x0256A;">
<!ENTITY boxvh "&#x0253C;">
<!ENTITY boxVL "&#x02563;">
<!ENTITY boxVl "&#x02562;">
<!ENTITY boxvL "&#x02561;">
<!ENTITY boxvl "&#x02524;">
<!ENTITY boxVR "&#x02560;">
<!ENTITY boxVr "&#x0255F;">
<!ENTITY boxvR "&#x0255E;">
<!ENTITY boxvr "&#x0251C;">
<!ENTITY Acy "&#x00410;">
<!ENTITY acy "&#x00430;">
<!ENTITY Bcy "&#x00411;">
<!ENTITY bcy "&#x00431;">
<!ENTITY CHcy "&#x00427;">
<!ENTITY chcy "&#x00447;">
<!ENTITY Dcy "&#x00414;">
<!ENTITY dcy "&#x00434;">
<!ENTITY Ecy "&#x0042D;">
<!ENTITY ecy "&#x0044D;">
<!ENTITY Fcy "&#x00424;">
<!ENTITY fcy "&#x00444;">
<!ENTITY Gcy "&#x00413;">
<!ENTITY gcy "&#x00433;">
<!ENTITY HARDcy "&#x0042A;">
<!ENTITY hardcy "&#x0044A;">
<!ENTITY Icy "&#x00418;">
<!ENTITY icy "&#x00438;">
<!ENTITY IEcy "&#x00415;">
<!ENTITY iecy "&#x00435;">
<!ENTITY IOcy "&#x00401;">
<!ENTITY iocy "&#x00451;">
<!ENTITY Jcy "&#x00419;">
<!ENTITY jcy "&#x00439;">
<!ENTITY Kcy "&#x0041A;">
<!ENTITY kcy "&#x0043A;">
<!ENTITY KHcy "&#x00425;">
<!ENTITY khcy "&#x00445;">
<!ENTITY Lcy "&#x0041B;">
<!ENTITY lcy "&#x0043B;">
<!ENTITY Mcy "&#x0041C;">
<!ENTITY mcy "&#x0043C;">
<!ENTITY Ncy "&#x0041D;">
<!ENTITY ncy "&#x0043D;">
<!ENTITY numero "&#x02116;">
<!ENTITY Ocy "&#x0041E;">
<!ENTITY ocy "&#x0043E;">
<!ENTITY Pcy "&#x0041F;">
<!ENTITY pcy "&#x0043F;">
<!ENTITY Rcy "&#x00420;">
<!ENTITY rcy "&#x00440;">
<!ENTITY Scy "&#x00421;">
<!ENTITY scy "&#x00441;">
<!ENTITY SHCHcy "&#x00429;">
<!ENTITY shchcy "&#x00449;">
<!ENTITY SHcy "&#x00428;">
<!ENTITY shcy "&#x00448;">
<!ENTITY SOFTcy "&#x0042C;">
<!ENTITY softcy "&#x0044C;">
<!ENTITY Tcy "&#x00422;">
<!ENTITY tcy "&#x00442;">
<!ENTITY TScy "&#x00426;">
<!ENTITY tscy "&#x00446;">
<!ENTITY Ucy "&#x00423;">
<!ENTITY ucy "&#x00443;">
<!ENTITY Vcy "&#x00412;">
<!ENTITY vcy "&#x00432;">
<!ENTITY YAcy "&#x0042F;">
<!ENTITY yacy "&#x0044F;">
<!ENTITY Ycy "&#x0042B;">
<!ENTITY ycy "&#x0044B;">
<!ENTITY YUcy "&#x0042E;">
<!ENTITY yucy "&#x0044E;">
<!ENTITY Zcy "&#x00417;">
<!ENTITY zcy "&#x00437;">
<!ENTITY ZHcy "&#x00416;">
<!ENTITY zhcy "&#x00436;">
<!ENTITY DJcy "&#x00402;">
<!ENTITY djcy "&#x00452;">
<!ENTITY DScy "&#x00405;">
<!ENTITY dscy "&#x00455;">
<!ENTITY DZcy "&#x0040F;">
<!ENTITY dzcy "&#x0045F;">
<!ENTITY GJcy "&#x00403;">
<!ENTITY gjcy "&#x00453;">
<!ENTITY Iukcy "&#x00406;">
<!ENTITY iukcy "&#x00456;">
<!ENTITY Jsercy "&#x00408;">
<!ENTITY jsercy "&#x00458;">
<!ENTITY Jukcy "&#x00404;">
<!ENTITY jukcy "&#x00454;">
<!ENTITY KJcy "&#x0040C;">
<!ENTITY kjcy "&#x0045C;">
<!ENTITY LJcy "&#x00409;">
<!ENTITY ljcy "&#x00459;">
<!ENTITY NJcy "&#x0040A;">
<!ENTITY njcy "&#x0045A;">
<!ENTITY TSHcy "&#x0040B;">
<!ENTITY tshcy "&#x0045B;">
<!ENTITY Ubrcy "&#x0040E;">
<!ENTITY ubrcy "&#x0045E;">
<!ENTITY YIcy "&#x00407;">
<!ENTITY yicy "&#x00457;">
<!ENTITY acute "&#x000B4;">
<!ENTITY breve "&#x002D8;">
<!ENTITY caron "&#x002C7;">
<!ENTITY cedil "&#x000B8;">
<!ENTITY circ "&#x002C6;">
<!ENTITY dblac "&#x002DD;">
<!ENTITY die "&#x000A8;">
<!ENTITY dot "&#x002D9;">
<!ENTITY grave "&#x00060;">
<!ENTITY macr "&#x000AF;">
<!ENTITY ogon "&#x002DB;">
<!ENTITY ring "&#x002DA;">
<!ENTITY tilde "&#x002DC;">
<!ENTITY uml "&#x000A8;">
<!ENTITY Aacute "&#x000C1;">
<!ENTITY aacute "&#x000E1;">
<!ENTITY Acirc "&#x000C2;">
<!ENTITY acirc "&#x000E2;">
<!ENTITY AElig "&#x000C6;">
<!ENTITY aelig "&#x000E6;">
<!ENTITY Agrave "&#x000C0;">
<!ENTITY agrave "&#x000E0;">
<!ENTITY Aring "&#x000C5;">
<!ENTITY aring "&#x000E5;">
<!ENTITY Atilde "&#x000C3;">
<!ENTITY atilde "&#x000E3;">
<!ENTITY Auml "&#x000C4;">
<!ENTITY auml "&#x000E4;">
<!ENTITY Ccedil "&#x000C7;">
<!ENTITY ccedil "&#x000E7;">
<!ENTITY Eacute "&#x000C9;">
<!ENTITY eacute "&#x000E9;">
<!ENTITY Ecirc "&#x000CA;">
<!ENTITY ecirc "&#x000EA;">
<!ENTITY Egrave "&#x000C8;">
<!ENTITY egrave "&#x000E8;">
<!ENTITY ETH "&#x000D0;">
<!ENTITY eth "&#x000F0;">
<!ENTITY Euml "&#x000CB;">
<!ENTITY euml "&#x000EB;">
<!ENTITY Iacute "&#x000CD;">
<!ENTITY iacute "&#x000ED;">
<!ENTITY Icirc "&#x000CE;">
<!ENTITY icirc "&#x000EE;">
<!ENTITY Igrave "&#x000CC;">
<!ENTITY igrave "&#x000EC;">
<!ENTITY Iuml "&#x000CF;">
<!ENTITY iuml "&#x000EF;">
<!ENTITY Ntilde "&#x000D1;">
<!ENTITY ntilde "&#x000F1;">
<!ENTITY Oacute "&#x000D3;">
<!ENTITY oacute "&#x000F3;">
<!ENTITY Ocirc "&#x000D4;">
<!ENTITY ocirc "&#x000F4;">
<!ENTITY Ograve "&#x000D2;">
<!ENTITY ograve "&#x000F2;">
<!ENTITY Oslash "&#x000D8;">
<!ENTITY oslash "&#x000F8;">
<!ENTITY Otilde "&#x000D5;">
<!ENTITY otilde "&#x000F5;">
<!ENTITY Ouml "&#x000D6;">
<!ENTITY ouml "&#x000F6;">
<!ENTITY szlig "&#x000DF;">
<!ENTITY THORN "&#x000DE;">
<!ENTITY thorn "&#x000FE;">
<!ENTITY Uacute "&#x000DA;">
<!ENTITY uacute "&#x000FA;">
<!ENTITY Ucirc "&#x000DB;">
<!ENTITY ucirc "&#x000FB;">
<!ENTITY Ugrave "&#x000D9;">
<!ENTITY ugrave "&#x000F9;">
<!ENTITY Uuml "&#x000DC;">
<!ENTITY uuml "&#x000FC;">
<!ENTITY Yacute "&#x000DD;">
<!ENTITY yacute "&#x000FD;">
<!ENTITY yuml "&#x000FF;">
<!ENTITY Abreve "&#x00102;">
<!ENTITY abreve "&#x00103;">
<!ENTITY Amacr "&#x00100;">
<!ENTITY amacr "&#x00101;">
<!ENTITY Aogon "&#x00104;">
<!ENTITY aogon "&#x00105;">
<!ENTITY Cacute "&#x00106;">
<!ENTITY cacute "&#x00107;">
<!ENTITY Ccaron "&#x0010C;">
<!ENTITY ccaron "&#x0010D;">
<!ENTITY Ccirc "&#x00108;">
<!ENTITY ccirc "&#x00109;">
<!ENTITY Cdot "&#x0010A;">
<!ENTITY cdot "&#x0010B;">
<!ENTITY Dcaron "&#x0010E;">
<!ENTITY dcaron "&#x0010F;">
<!ENTITY Dstrok "&#x00110;">
<!ENTITY dstrok "&#x00111;">
<!ENTITY Ecaron "&#x0011A;">
<!ENTITY ecaron "&#x0011B;">
<!ENTITY Edot "&#x00116;">
<!ENTITY edot "&#x00117;">
<!ENTITY Emacr "&#x00112;">
<!ENTITY emacr "&#x00113;">
<!ENTITY ENG "&#x0014A;">
<!ENTITY eng "&#x0014B;">
<!ENTITY Eogon "&#x00118;">
<!ENTITY eogon "&#x00119;">
<!ENTITY gacute "&#x001F5;">
<!ENTITY Gbreve "&#x0011E;">
<!ENTITY gbreve "&#x0011F;">
<!ENTITY Gcedil "&#x00122;">
<!ENTITY Gcirc "&#x0011C;">
<!ENTITY gcirc "&#x0011D;">
<!ENTITY Gdot "&#x00120;">
<!ENTITY gdot "&#x00121;">
<!ENTITY Hcirc "&#x00124;">
<!ENTITY hcirc "&#x00125;">
<!ENTITY Hstrok "&#x00126;">
<!ENTITY hstrok "&#x00127;">
<!ENTITY Idot "&#x00130;">
<!ENTITY IJlig "&#x00132;">
<!ENTITY ijlig "&#x00133;">
<!ENTITY Imacr "&#x0012A;">
<!ENTITY imacr "&#x0012B;">
<!ENTITY inodot "&#x00131;">
<!ENTITY Iogon "&#x0012E;">
<!ENTITY iogon "&#x0012F;">
<!ENTITY Itilde "&#x00128;">
<!ENTITY itilde "&#x00129;">
<!ENTITY Jcirc "&#x00134;">
<!ENTITY jcirc "&#x00135;">
<!ENTITY Kcedil "&#x00136;">
<!ENTITY kcedil "&#x00137;">
<!ENTITY kgreen "&#x00138;">
<!ENTITY Lacute "&#x00139;">
<!ENTITY lacute "&#x0013A;">
<!ENTITY Lcaron "&#x0013D;">
<!ENTITY lcaron "&#x0013E;">
<!ENTITY Lcedil "&#x0013B;">
<!ENTITY lcedil "&#x0013C;">
<!ENTITY Lmidot "&#x0013F;">
<!ENTITY lmidot "&#x00140;">
<!ENTITY Lstrok "&#x00141;">
<!ENTITY lstrok "&#x00142;">
<!ENTITY Nacute "&#x00143;">
<!ENTITY nacute "&#x00144;">
<!ENTITY napos "&#x00149;">
<!ENTITY Ncaron "&#x00147;">
<!ENTITY ncaron "&#x00148;">
<!ENTITY Ncedil "&#x00145;">
<!ENTITY ncedil "&#x00146;">
<!ENTITY Odblac "&#x00150;">
<!ENTITY odblac "&#x00151;">
<!ENTITY OElig "&#x00152;">
<!ENTITY oelig "&#x00153;">
<!ENTITY Omacr "&#x0014C;">
<!ENTITY omacr "&#x0014D;">
<!ENTITY Racute "&#x00154;">
<!ENTITY racute "&#x00155;">
<!ENTITY Rcaron "&#x00158;">
<!ENTITY rcaron "&#x00159;">
<!ENTITY Rcedil "&#x00156;">
<!ENTITY rcedil "&#x00157;">
<!ENTITY Sacute "&#x0015A;">
<!ENTITY sacute "&#x0015B;">
<!ENTITY Scaron "&#x00160;">
<!ENTITY scaron "&#x00161;">
<!ENTITY Scedil "&#x0015E;">
<!ENTITY scedil "&#x0015F;">
<!ENTITY Scirc "&#x0015C;">
<!ENTITY scirc "&#x0015D;">
<!ENTITY Tcaron "&#x00164;">
<!ENTITY tcaron "&#x00165;">
<!ENTITY Tcedil "&#x00162;">
<!ENTITY tcedil "&#x00163;">
<!ENTITY Tstrok "&#x00166;">
<!ENTITY tstrok "&#x00167;">
<!ENTITY Ubreve "&#x0016C;">
<!ENTITY ubreve "&#x0016D;">
<!ENTITY Udblac "&#x00170;">
<!ENTITY udblac "&#x00171;">
<!ENTITY Umacr "&#x0016A;">
<!ENTITY umacr "&#x0016B;">
<!ENTITY Uogon "&#x00172;">
<!ENTITY uogon "&#x00173;">
<!ENTITY Uring "&#x0016E;">
<!ENTITY uring "&#x0016F;">
<!ENTITY Utilde "&#x00168;">
<!ENTITY utilde "&#x00169;">
<!ENTITY Wcirc "&#x00174;">
<!ENTITY wcirc "&#x00175;">
<!ENTITY Ycirc "&#x00176;">
<!ENTITY ycirc "&#x00177;">
<!ENTITY Yuml "&#x00178;">
<!ENTITY Zacute "&#x00179;">
<!ENTITY zacute "&#x0017A;">
<!ENTITY Zcaron "&#x0017D;">
<!ENTITY zcaron "&#x0017E;">
<!ENTITY Zdot "&#x0017B;">
<!ENTITY zdot "&#x0017C;">
<!ENTITY ast "&#x0002A;">
<!ENTITY brvbar "&#x000A6;">
<!ENTITY bsol "&#x0005C;">
<!ENTITY cent "&#x000A2;">
<!ENTITY colon "&#x0003A;">
<!ENTITY comma "&#x0002C;">
<!ENTITY commat "&#x00040;">
<!ENTITY copy "&#x000A9;">
<!ENTITY curren "&#x000A4;">
<!ENTITY darr "&#x02193;">
<!ENTITY deg "&#x000B0;">
<!ENTITY divide "&#x000F7;">
<!ENTITY dollar "&#x00024;">
<!ENTITY equals "&#x0003D;">
<!ENTITY excl "&#x00021;">
<!ENTITY frac12 "&#x000BD;">
<!ENTITY frac14 "&#x000BC;">
<!ENTITY frac18 "&#x0215B;">
<!ENTITY frac34 "&#x000BE;">
<!ENTITY frac38 "&#x0215C;">
<!ENTITY frac58 "&#x0215D;">
<!ENTITY frac78 "&#x0215E;">
<!ENTITY half "&#x000BD;">
<!ENTITY horbar "&#x02015;">
<!ENTITY hyphen "&#x02010;">
<!ENTITY iexcl "&#x000A1;">
<!ENTITY iquest "&#x000BF;">
<!ENTITY laquo "&#x000AB;">
<!ENTITY larr "&#x02190;">
<!ENTITY lcub "&#x0007B;">
<!ENTITY ldquo "&#x0201C;">
<!ENTITY lowbar "&#x0005F;">
<!ENTITY lpar "&#x00028;">
<!ENTITY lsqb "&#x0005B;">
<!ENTITY lsquo "&#x02018;">
<!ENTITY micro "&#x000B5;">
<!ENTITY middot "&#x000B7;">
<!ENTITY nbsp "&#x000A0;">
<!ENTITY not "&#x000AC;">
<!ENTITY num "&#x00023;">
<!ENTITY ohm "&#x02126;">
<!ENTITY ordf "&#x000AA;">
<!ENTITY ordm "&#x000BA;">
<!ENTITY para "&#x000B6;">
<!ENTITY percnt "&#x00025;">
<!ENTITY period "&#x0002E;">
<!ENTITY plus "&#x0002B;">
<!ENTITY plusmn "&#x000B1;">
<!ENTITY pound "&#x000A3;">
<!ENTITY quest "&#x0003F;">
<!ENTITY raquo "&#x000BB;">
<!ENTITY rarr "&#x02192;">
<!ENTITY rcub "&#x0007D;">
<!ENTITY rdquo "&#x0201D;">
<!ENTITY reg "&#x000AE;">
<!ENTITY rpar "&#x00029;">
<!ENTITY rsqb "&#x0005D;">
<!ENTITY rsquo "&#x02019;">
<!ENTITY sect "&#x000A7;">
<!ENTITY semi "&#x0003B;">
<!ENTITY shy "&#x000AD;">
<!ENTITY sol "&#x0002F;">
<!ENTITY sung "&#x0266A;">
<!ENTITY sup1 "&#x000B9;">
<!ENTITY sup2 "&#x000B2;">
<!ENTITY sup3 "&#x000B3;">
<!ENTITY times "&#x000D7;">
<!ENTITY trade "&#x02122;">
<!ENTITY uarr "&#x02191;">
<!ENTITY verbar "&#x0007C;">
<!ENTITY yen "&#x000A5;">
<!ENTITY blank "&#x02423;">
<!ENTITY blk12 "&#x02592;">
<!ENTITY blk14 "&#x02591;">
<!ENTITY blk34 "&#x02593;">
<!ENTITY block "&#x02588;">
<!ENTITY bull "&#x02022;">
<!ENTITY caret "&#x02041;">
<!ENTITY check "&#x02713;">
<!ENTITY cir "&#x025CB;">
<!ENTITY clubs "&#x02663;">
<!ENTITY copysr "&#x02117;">
<!ENTITY cross "&#x02717;">
<!ENTITY dash "&#x02010;">
<!ENTITY diams "&#x02666;">
<!ENTITY dlcrop "&#x0230D;">
<!ENTITY drcrop "&#x0230C;">
<!ENTITY dtri "&#x025BF;">
<!ENTITY dtrif "&#x025BE;">
<!ENTITY emsp "&#x02003;">
<!ENTITY emsp13 "&#x02004;">
<!ENTITY emsp14 "&#x02005;">
<!ENTITY ensp "&#x02002;">
<!ENTITY female "&#x02640;">
<!ENTITY ffilig "&#x0FB03;">
<!ENTITY fflig "&#x0FB00;">
<!ENTITY ffllig "&#x0FB04;">
<!ENTITY filig "&#x0FB01;">
<!ENTITY flat "&#x0266D;">
<!ENTITY fllig "&#x0FB02;">
<!ENTITY frac13 "&#x02153;">
<!ENTITY frac15 "&#x02155;">
<!ENTITY frac16 "&#x02159;">
<!ENTITY frac23 "&#x02154;">
<!ENTITY frac25 "&#x02156;">
<!ENTITY frac35 "&#x02157;">
<!ENTITY frac45 "&#x02158;">
<!ENTITY frac56 "&#x0215A;">
<!ENTITY hairsp "&#x0200A;">
<!ENTITY hellip "&#x02026;">
<!ENTITY hybull "&#x02043;">
<!ENTITY incare "&#x02105;">
<!ENTITY ldquor "&#x0201E;">
<!ENTITY lhblk "&#x02584;">
<!ENTITY loz "&#x025CA;">
<!ENTITY lozf "&#x029EB;">
<!ENTITY lsquor "&#x0201A;">
<!ENTITY ltri "&#x025C3;">
<!ENTITY ltrif "&#x025C2;">
<!ENTITY male "&#x02642;">
<!ENTITY malt "&#x02720;">
<!ENTITY marker "&#x025AE;">
<!ENTITY mdash "&#x02014;">
<!ENTITY mldr "&#x02026;">
<!ENTITY natur "&#x0266E;">
<!ENTITY ndash "&#x02013;">
<!ENTITY nldr "&#x02025;">
<!ENTITY numsp "&#x02007;">
<!ENTITY phone "&#x0260E;">
<!ENTITY puncsp "&#x02008;">
<!ENTITY rdquor "&#x0201D;">
<!ENTITY rect "&#x025AD;">
<!ENTITY rsquor "&#x02019;">
<!ENTITY rtri "&#x025B9;">
<!ENTITY rtrif "&#x025B8;">
<!ENTITY rx "&#x0211E;">
<!ENTITY sext "&#x02736;">
<!ENTITY sharp "&#x0266F;">
<!ENTITY spades "&#x02660;">
<!ENTITY squ "&#x025A1;">
<!ENTITY squf "&#x025AA;">
<!ENTITY star "&#x022C6;">
<!ENTITY starf "&#x02605;">
<!ENTITY target "&#x02316;">
<!ENTITY telrec "&#x02315;">
<!ENTITY thinsp "&#x02009;">
<!ENTITY uhblk "&#x02580;">
<!ENTITY ulcrop "&#x0230F;">
<!ENTITY urcrop "&#x0230E;">
<!ENTITY utri "&#x025B5;">
<!ENTITY utrif "&#x025B4;">
<!ENTITY vellip "&#x022EE;">
<!ENTITY af "&#x02061;">
<!ENTITY aopf "&#x1D552;">
<!ENTITY asympeq "&#x0224D;">
<!ENTITY bopf "&#x1D553;">
<!ENTITY copf "&#x1D554;">
<!ENTITY Cross "&#x02A2F;">
<!ENTITY DD "&#x02145;">
<!ENTITY dd "&#x02146;">
<!ENTITY dopf "&#x1D555;">
<!ENTITY DownArrowBar "&#x02913;">
<!ENTITY DownBreve "&#x00311;">
<!ENTITY DownLeftRightVector "&#x02950;">
<!ENTITY DownLeftTeeVector "&#x0295E;">
<!ENTITY DownLeftVectorBar "&#x02956;">
<!ENTITY DownRightTeeVector "&#x0295F;">
<!ENTITY DownRightVectorBar "&#x02957;">
<!ENTITY ee "&#x02147;">
<!ENTITY EmptySmallSquare "&#x025FB;">
<!ENTITY EmptyVerySmallSquare "&#x025AB;">
<!ENTITY eopf "&#x1D556;">
<!ENTITY Equal "&#x02A75;">
<!ENTITY FilledSmallSquare "&#x025FC;">
<!ENTITY FilledVerySmallSquare "&#x025AA;">
<!ENTITY fopf "&#x1D557;">
<!ENTITY gopf "&#x1D558;">
<!ENTITY GreaterGreater "&#x02AA2;">
<!ENTITY Hat "&#x0005E;">
<!ENTITY hopf "&#x1D559;">
<!ENTITY HorizontalLine "&#x02500;">
<!ENTITY ic "&#x02063;">
<!ENTITY ii "&#x02148;">
<!ENTITY iopf "&#x1D55A;">
<!ENTITY it "&#x02062;">
<!ENTITY jopf "&#x1D55B;">
<!ENTITY kopf "&#x1D55C;">
<!ENTITY larrb "&#x021E4;">
<!ENTITY LeftDownTeeVector "&#x02961;">
<!ENTITY LeftDownVectorBar "&#x02959;">
<!ENTITY LeftRightVector "&#x0294E;">
<!ENTITY LeftTeeVector "&#x0295A;">
<!ENTITY LeftTriangleBar "&#x029CF;">
<!ENTITY LeftUpDownVector "&#x02951;">
<!ENTITY LeftUpTeeVector "&#x02960;">
<!ENTITY LeftUpVectorBar "&#x02958;">
<!ENTITY LeftVectorBar "&#x02952;">
<!ENTITY LessLess "&#x02AA1;">
<!ENTITY lopf "&#x1D55D;">
<!ENTITY mapstodown "&#x021A7;">
<!ENTITY mapstoleft "&#x021A4;">
<!ENTITY mapstoup "&#x021A5;">
<!ENTITY MediumSpace "&#x0205F;">
<!ENTITY mopf "&#x1D55E;">
<!ENTITY nbump "≎̸">
<!ENTITY nbumpe "≏̸">
<!ENTITY nesim "≂̸">
<!ENTITY NewLine "&#x0000A;">
<!ENTITY NoBreak "&#x02060;">
<!ENTITY nopf "&#x1D55F;">
<!ENTITY NotCupCap "&#x0226D;">
<!ENTITY NotHumpEqual "≏̸">
<!ENTITY NotLeftTriangleBar "⧏̸">
<!ENTITY NotNestedGreaterGreater "⪢̸">
<!ENTITY NotNestedLessLess "⪡̸">
<!ENTITY NotRightTriangleBar "⧐̸">
<!ENTITY NotSquareSubset "⊏̸">
<!ENTITY NotSquareSuperset "⊐̸">
<!ENTITY NotSucceedsTilde "≿̸">
<!ENTITY oopf "&#x1D560;">
<!ENTITY OverBar "&#x000AF;">
<!ENTITY OverBrace "&#x0FE37;">
<!ENTITY OverBracket "&#x023B4;">
<!ENTITY OverParenthesis "&#x0FE35;">
<!ENTITY planckh "&#x0210E;">
<!ENTITY popf "&#x1D561;">
<!ENTITY Product "&#x0220F;">
<!ENTITY qopf "&#x1D562;">
<!ENTITY rarrb "&#x021E5;">
<!ENTITY RightDownTeeVector "&#x0295D;">
<!ENTITY RightDownVectorBar "&#x02955;">
<!ENTITY RightTeeVector "&#x0295B;">
<!ENTITY RightTriangleBar "&#x029D0;">
<!ENTITY RightUpDownVector "&#x0294F;">
<!ENTITY RightUpTeeVector "&#x0295C;">
<!ENTITY RightUpVectorBar "&#x02954;">
<!ENTITY RightVectorBar "&#x02953;">
<!ENTITY ropf "&#x1D563;">
<!ENTITY RoundImplies "&#x02970;">
<!ENTITY RuleDelayed "&#x029F4;">
<!ENTITY sopf "&#x1D564;">
<!ENTITY Tab "&#x00009;">
<!ENTITY ThickSpace "   ">
<!ENTITY topf "&#x1D565;">
<!ENTITY UnderBar "&#x00332;">
<!ENTITY UnderBrace "&#x0FE38;">
<!ENTITY UnderBracket "&#x023B5;">
<!ENTITY UnderParenthesis "&#x0FE36;">
<!ENTITY uopf "&#x1D566;">
<!ENTITY UpArrowBar "&#x02912;">
<!ENTITY Upsilon "&#x003A5;">
<!ENTITY VerticalLine "&#x0007C;">
<!ENTITY VerticalSeparator "&#x02758;">
<!ENTITY vopf "&#x1D567;">
<!ENTITY wopf "&#x1D568;">
<!ENTITY xopf "&#x1D569;">
<!ENTITY yopf "&#x1D56A;">
<!ENTITY ZeroWidthSpace "&#x0200B;">
<!ENTITY zopf "&#x1D56B;">
<!ENTITY angle "&#x02220;">
<!ENTITY ApplyFunction "&#x02061;">
<!ENTITY approx "&#x02248;">
<!ENTITY approxeq "&#x0224A;">
<!ENTITY Assign "&#x02254;">
<!ENTITY backcong "&#x0224C;">
<!ENTITY backepsilon "&#x003F6;">
<!ENTITY backprime "&#x02035;">
<!ENTITY backsim "&#x0223D;">
<!ENTITY backsimeq "&#x022CD;">
<!ENTITY Backslash "&#x02216;">
<!ENTITY barwedge "&#x022BC;">
<!ENTITY Because "&#x02235;">
<!ENTITY because "&#x02235;">
<!ENTITY Bernoullis "&#x0212C;">
<!ENTITY between "&#x0226C;">
<!ENTITY bigcap "&#x022C2;">
<!ENTITY bigcirc "&#x025EF;">
<!ENTITY bigcup "&#x022C3;">
<!ENTITY bigodot "&#x02299;">
<!ENTITY bigoplus "&#x02295;">
<!ENTITY bigotimes "&#x02297;">
<!ENTITY bigsqcup "&#x02294;">
<!ENTITY bigstar "&#x02605;">
<!ENTITY bigtriangledown "&#x025BD;">
<!ENTITY bigtriangleup "&#x025B3;">
<!ENTITY biguplus "&#x0228E;">
<!ENTITY bigvee "&#x022C1;">
<!ENTITY bigwedge "&#x022C0;">
<!ENTITY bkarow "&#x0290D;">
<!ENTITY blacklozenge "&#x029EB;">
<!ENTITY blacksquare "&#x025AA;">
<!ENTITY blacktriangle "&#x025B4;">
<!ENTITY blacktriangledown "&#x025BE;">
<!ENTITY blacktriangleleft "&#x025C2;">
<!ENTITY blacktriangleright "&#x025B8;">
<!ENTITY bot "&#x022A5;">
<!ENTITY boxminus "&#x0229F;">
<!ENTITY boxplus "&#x0229E;">
<!ENTITY boxtimes "&#x022A0;">
<!ENTITY Breve "&#x002D8;">
<!ENTITY bullet "&#x02022;">
<!ENTITY Bumpeq "&#x0224E;">
<!ENTITY bumpeq "&#x0224F;">
<!ENTITY CapitalDifferentialD "&#x02145;">
<!ENTITY Cayleys "&#x0212D;">
<!ENTITY Cedilla "&#x000B8;">
<!ENTITY CenterDot "&#x000B7;">
<!ENTITY centerdot "&#x000B7;">
<!ENTITY checkmark "&#x02713;">
<!ENTITY circeq "&#x02257;">
<!ENTITY circlearrowleft "&#x021BA;">
<!ENTITY circlearrowright "&#x021BB;">
<!ENTITY circledast "&#x0229B;">
<!ENTITY circledcirc "&#x0229A;">
<!ENTITY circleddash "&#x0229D;">
<!ENTITY CircleDot "&#x02299;">
<!ENTITY circledR "&#x000AE;">
<!ENTITY circledS "&#x024C8;">
<!ENTITY CircleMinus "&#x02296;">
<!ENTITY CirclePlus "&#x02295;">
<!ENTITY CircleTimes "&#x02297;">
<!ENTITY ClockwiseContourIntegral "&#x02232;">
<!ENTITY CloseCurlyDoubleQuote "&#x0201D;">
<!ENTITY CloseCurlyQuote "&#x02019;">
<!ENTITY clubsuit "&#x02663;">
<!ENTITY coloneq "&#x02254;">
<!ENTITY complement "&#x02201;">
<!ENTITY complexes "&#x02102;">
<!ENTITY Congruent "&#x02261;">
<!ENTITY ContourIntegral "&#x0222E;">
<!ENTITY Coproduct "&#x02210;">
<!ENTITY CounterClockwiseContourIntegral "&#x02233;">
<!ENTITY CupCap "&#x0224D;">
<!ENTITY curlyeqprec "&#x022DE;">
<!ENTITY curlyeqsucc "&#x022DF;">
<!ENTITY curlyvee "&#x022CE;">
<!ENTITY curlywedge "&#x022CF;">
<!ENTITY curvearrowleft "&#x021B6;">
<!ENTITY curvearrowright "&#x021B7;">
<!ENTITY dbkarow "&#x0290F;">
<!ENTITY ddagger "&#x02021;">
<!ENTITY ddotseq "&#x02A77;">
<!ENTITY Del "&#x02207;">
<!ENTITY DiacriticalAcute "&#x000B4;">
<!ENTITY DiacriticalDot "&#x002D9;">
<!ENTITY DiacriticalDoubleAcute "&#x002DD;">
<!ENTITY DiacriticalGrave "&#x00060;">
<!ENTITY DiacriticalTilde "&#x002DC;">
<!ENTITY Diamond "&#x022C4;">
<!ENTITY diamond "&#x022C4;">
<!ENTITY diamondsuit "&#x02666;">
<!ENTITY DifferentialD "&#x02146;">
<!ENTITY digamma "&#x003DC;">
<!ENTITY div "&#x000F7;">
<!ENTITY divideontimes "&#x022C7;">
<!ENTITY doteq "&#x02250;">
<!ENTITY doteqdot "&#x02251;">
<!ENTITY DotEqual "&#x02250;">
<!ENTITY dotminus "&#x02238;">
<!ENTITY dotplus "&#x02214;">
<!ENTITY dotsquare "&#x022A1;">
<!ENTITY doublebarwedge "&#x02306;">
<!ENTITY DoubleContourIntegral "&#x0222F;">
<!ENTITY DoubleDot "&#x000A8;">
<!ENTITY DoubleDownArrow "&#x021D3;">
<!ENTITY DoubleLeftArrow "&#x021D0;">
<!ENTITY DoubleLeftRightArrow "&#x021D4;">
<!ENTITY DoubleLeftTee "&#x02AE4;">
<!ENTITY DoubleLongLeftArrow "&#x027F8;">
<!ENTITY DoubleLongLeftRightArrow "&#x027FA;">
<!ENTITY DoubleLongRightArrow "&#x027F9;">
<!ENTITY DoubleRightArrow "&#x021D2;">
<!ENTITY DoubleRightTee "&#x022A8;">
<!ENTITY DoubleUpArrow "&#x021D1;">
<!ENTITY DoubleUpDownArrow "&#x021D5;">
<!ENTITY DoubleVerticalBar "&#x02225;">
<!ENTITY DownArrow "&#x02193;">
<!ENTITY Downarrow "&#x021D3;">
<!ENTITY downarrow "&#x02193;">
<!ENTITY DownArrowUpArrow "&#x021F5;">
<!ENTITY downdownarrows "&#x021CA;">
<!ENTITY downharpoonleft "&#x021C3;">
<!ENTITY downharpoonright "&#x021C2;">
<!ENTITY DownLeftVector "&#x021BD;">
<!ENTITY DownRightVector "&#x021C1;">
<!ENTITY DownTee "&#x022A4;">
<!ENTITY DownTeeArrow "&#x021A7;">
<!ENTITY drbkarow "&#x02910;">
<!ENTITY Element "&#x02208;">
<!ENTITY emptyset "&#x02205;">
<!ENTITY eqcirc "&#x02256;">
<!ENTITY eqcolon "&#x02255;">
<!ENTITY eqsim "&#x02242;">
<!ENTITY eqslantgtr "&#x022DD;">
<!ENTITY eqslantless "&#x022DC;">
<!ENTITY EqualTilde "&#x02242;">
<!ENTITY Equilibrium "&#x021CC;">
<!ENTITY Exists "&#x02203;">
<!ENTITY expectation "&#x02130;">
<!ENTITY ExponentialE "&#x02147;">
<!ENTITY exponentiale "&#x02147;">
<!ENTITY fallingdotseq "&#x02252;">
<!ENTITY ForAll "&#x02200;">
<!ENTITY Fouriertrf "&#x02131;">
<!ENTITY geq "&#x02265;">
<!ENTITY geqq "&#x02267;">
<!ENTITY geqslant "&#x02A7E;">
<!ENTITY gg "&#x0226B;">
<!ENTITY ggg "&#x022D9;">
<!ENTITY gnapprox "&#x02A8A;">
<!ENTITY gneq "&#x02269;">
<!ENTITY gneqq "&#x02269;">
<!ENTITY GreaterEqual "&#x02265;">
<!ENTITY GreaterEqualLess "&#x022DB;">
<!ENTITY GreaterFullEqual "&#x02267;">
<!ENTITY GreaterLess "&#x02277;">
<!ENTITY GreaterSlantEqual "&#x02A7E;">
<!ENTITY GreaterTilde "&#x02273;">
<!ENTITY gtrapprox "&#x02273;">
<!ENTITY gtrdot "&#x022D7;">
<!ENTITY gtreqless "&#x022DB;">
<!ENTITY gtreqqless "&#x022DB;">
<!ENTITY gtrless "&#x02277;">
<!ENTITY gtrsim "&#x02273;">
<!ENTITY gvertneqq "≩︀">
<!ENTITY Hacek "&#x002C7;">
<!ENTITY hbar "&#x0210F;">
<!ENTITY heartsuit "&#x02661;">
<!ENTITY HilbertSpace "&#x0210B;">
<!ENTITY hksearow "&#x02925;">
<!ENTITY hkswarow "&#x02926;">
<!ENTITY hookleftarrow "&#x021A9;">
<!ENTITY hookrightarrow "&#x021AA;">
<!ENTITY hslash "&#x0210F;">
<!ENTITY HumpDownHump "&#x0224E;">
<!ENTITY HumpEqual "&#x0224F;">
<!ENTITY iiiint "&#x02A0C;">
<!ENTITY iiint "&#x0222D;">
<!ENTITY Im "&#x02111;">
<!ENTITY ImaginaryI "&#x02148;">
<!ENTITY imagline "&#x02110;">
<!ENTITY imagpart "&#x02111;">
<!ENTITY Implies "&#x021D2;">
<!ENTITY in "&#x02208;">
<!ENTITY integers "&#x02124;">
<!ENTITY Integral "&#x0222B;">
<!ENTITY intercal "&#x022BA;">
<!ENTITY Intersection "&#x022C2;">
<!ENTITY intprod "&#x02A3C;">
<!ENTITY InvisibleComma "&#x02063;">
<!ENTITY InvisibleTimes "&#x02062;">
<!ENTITY langle "&#x02329;">
<!ENTITY Laplacetrf "&#x02112;">
<!ENTITY lbrace "&#x0007B;">
<!ENTITY lbrack "&#x0005B;">
<!ENTITY LeftAngleBracket "&#x02329;">
<!ENTITY LeftArrow "&#x02190;">
<!ENTITY Leftarrow "&#x021D0;">
<!ENTITY leftarrow "&#x02190;">
<!ENTITY LeftArrowBar "&#x021E4;">
<!ENTITY LeftArrowRightArrow "&#x021C6;">
<!ENTITY leftarrowtail "&#x021A2;">
<!ENTITY LeftCeiling "&#x02308;">
<!ENTITY LeftDoubleBracket "&#x0301A;">
<!ENTITY LeftDownVector "&#x021C3;">
<!ENTITY LeftFloor "&#x0230A;">
<!ENTITY leftharpoondown "&#x021BD;">
<!ENTITY leftharpoonup "&#x021BC;">
<!ENTITY leftleftarrows "&#x021C7;">
<!ENTITY LeftRightArrow "&#x02194;">
<!ENTITY Leftrightarrow "&#x021D4;">
<!ENTITY leftrightarrow "&#x02194;">
<!ENTITY leftrightarrows "&#x021C6;">
<!ENTITY leftrightharpoons "&#x021CB;">
<!ENTITY leftrightsquigarrow "&#x021AD;">
<!ENTITY LeftTee "&#x022A3;">
<!ENTITY LeftTeeArrow "&#x021A4;">
<!ENTITY leftthreetimes "&#x022CB;">
<!ENTITY LeftTriangle "&#x022B2;">
<!ENTITY LeftTriangleEqual "&#x022B4;">
<!ENTITY LeftUpVector "&#x021BF;">
<!ENTITY LeftVector "&#x021BC;">
<!ENTITY leq "&#x02264;">
<!ENTITY leqq "&#x02266;">
<!ENTITY leqslant "&#x02A7D;">
<!ENTITY lessapprox "&#x02272;">
<!ENTITY lessdot "&#x022D6;">
<!ENTITY lesseqgtr "&#x022DA;">
<!ENTITY lesseqqgtr "&#x022DA;">
<!ENTITY LessEqualGreater "&#x022DA;">
<!ENTITY LessFullEqual "&#x02266;">
<!ENTITY LessGreater "&#x02276;">
<!ENTITY lessgtr "&#x02276;">
<!ENTITY lesssim "&#x02272;">
<!ENTITY LessSlantEqual "&#x02A7D;">
<!ENTITY LessTilde "&#x02272;">
<!ENTITY ll "&#x0226A;">
<!ENTITY llcorner "&#x0231E;">
<!ENTITY Lleftarrow "&#x021DA;">
<!ENTITY lmoustache "&#x023B0;">
<!ENTITY lnapprox "&#x02A89;">
<!ENTITY lneq "&#x02268;">
<!ENTITY lneqq "&#x02268;">
<!ENTITY LongLeftArrow "&#x027F5;">
<!ENTITY Longleftarrow "&#x027F8;">
<!ENTITY longleftarrow "&#x027F5;">
<!ENTITY LongLeftRightArrow "&#x027F7;">
<!ENTITY Longleftrightarrow "&#x027FA;">
<!ENTITY longleftrightarrow "&#x027F7;">
<!ENTITY longmapsto "&#x027FC;">
<!ENTITY LongRightArrow "&#x027F6;">
<!ENTITY Longrightarrow "&#x027F9;">
<!ENTITY longrightarrow "&#x027F6;">
<!ENTITY looparrowleft "&#x021AB;">
<!ENTITY looparrowright "&#x021AC;">
<!ENTITY LowerLeftArrow "&#x02199;">
<!ENTITY LowerRightArrow "&#x02198;">
<!ENTITY lozenge "&#x025CA;">
<!ENTITY lrcorner "&#x0231F;">
<!ENTITY Lsh "&#x021B0;">
<!ENTITY lvertneqq "≨︀">
<!ENTITY maltese "&#x02720;">
<!ENTITY mapsto "&#x021A6;">
<!ENTITY measuredangle "&#x02221;">
<!ENTITY Mellintrf "&#x02133;">
<!ENTITY MinusPlus "&#x02213;">
<!ENTITY mp "&#x02213;">
<!ENTITY multimap "&#x022B8;">
<!ENTITY napprox "&#x02249;">
<!ENTITY natural "&#x0266E;">
<!ENTITY naturals "&#x02115;">
<!ENTITY nearrow "&#x02197;">
<!ENTITY NegativeMediumSpace "&#x0200B;">
<!ENTITY NegativeThickSpace "&#x0200B;">
<!ENTITY NegativeThinSpace "&#x0200B;">
<!ENTITY NegativeVeryThinSpace "&#x0200B;">
<!ENTITY NestedGreaterGreater "&#x0226B;">
<!ENTITY NestedLessLess "&#x0226A;">
<!ENTITY nexists "&#x02204;">
<!ENTITY ngeq "&#x02271;">
<!ENTITY ngeqq "⩾̸">
<!ENTITY ngeqslant "⩾̸">
<!ENTITY ngtr "&#x0226F;">
<!ENTITY nLeftarrow "&#x021CD;">
<!ENTITY nleftarrow "&#x0219A;">
<!ENTITY nLeftrightarrow "&#x021CE;">
<!ENTITY nleftrightarrow "&#x021AE;">
<!ENTITY nleq "&#x02270;">
<!ENTITY nleqq "⩽̸">
<!ENTITY nleqslant "⩽̸">
<!ENTITY nless "&#x0226E;">
<!ENTITY NonBreakingSpace "&#x000A0;">
<!ENTITY NotCongruent "&#x02262;">
<!ENTITY NotDoubleVerticalBar "&#x02226;">
<!ENTITY NotElement "&#x02209;">
<!ENTITY NotEqual "&#x02260;">
<!ENTITY NotEqualTilde "≂̸">
<!ENTITY NotExists "&#x02204;">
<!ENTITY NotGreater "&#x0226F;">
<!ENTITY NotGreaterEqual "&#x02271;">
<!ENTITY NotGreaterFullEqual "⩽̸">
<!ENTITY NotGreaterGreater "≫̸">
<!ENTITY NotGreaterLess "&#x02279;">
<!ENTITY NotGreaterSlantEqual "⩾̸">
<!ENTITY NotGreaterTilde "&#x02275;">
<!ENTITY NotHumpDownHump "≎̸">
<!ENTITY NotLeftTriangle "&#x022EA;">
<!ENTITY NotLeftTriangleEqual "&#x022EC;">
<!ENTITY NotLess "&#x0226E;">
<!ENTITY NotLessEqual "&#x02270;">
<!ENTITY NotLessGreater "&#x02278;">
<!ENTITY NotLessLess "≪̸">
<!ENTITY NotLessSlantEqual "⩽̸">
<!ENTITY NotLessTilde "&#x02274;">
<!ENTITY NotPrecedes "&#x02280;">
<!ENTITY NotPrecedesEqual "⪯̸">
<!ENTITY NotPrecedesSlantEqual "&#x022E0;">
<!ENTITY NotReverseElement "&#x0220C;">
<!ENTITY NotRightTriangle "&#x022EB;">
<!ENTITY NotRightTriangleEqual "&#x022ED;">
<!ENTITY NotSquareSubsetEqual "&#x022E2;">
<!ENTITY NotSquareSupersetEqual "&#x022E3;">
<!ENTITY NotSubset "&#x02284;">
<!ENTITY NotSubsetEqual "&#x02288;">
<!ENTITY NotSucceeds "&#x02281;">
<!ENTITY NotSucceedsEqual "⪰̸">
<!ENTITY NotSucceedsSlantEqual "&#x022E1;">
<!ENTITY NotSuperset "&#x02285;">
<!ENTITY NotSupersetEqual "&#x02289;">
<!ENTITY NotTilde "&#x02241;">
<!ENTITY NotTildeEqual "&#x02244;">
<!ENTITY NotTildeFullEqual "&#x02247;">
<!ENTITY NotTildeTilde "&#x02249;">
<!ENTITY NotVerticalBar "&#x02224;">
<!ENTITY nparallel "&#x02226;">
<!ENTITY nprec "&#x02280;">
<!ENTITY npreceq "⪯̸">
<!ENTITY nRightarrow "&#x021CF;">
<!ENTITY nrightarrow "&#x0219B;">
<!ENTITY nshortmid "&#x02224;">
<!ENTITY nshortparallel "&#x02226;">
<!ENTITY nsimeq "&#x02244;">
<!ENTITY nsubset "&#x02284;">
<!ENTITY nsubseteq "&#x02288;">
<!ENTITY nsubseteqq "&#x02288;">
<!ENTITY nsucc "&#x02281;">
<!ENTITY nsucceq "⪰̸">
<!ENTITY nsupset "&#x02285;">
<!ENTITY nsupseteq "&#x02289;">
<!ENTITY nsupseteqq "&#x02289;">
<!ENTITY ntriangleleft "&#x022EA;">
<!ENTITY ntrianglelefteq "&#x022EC;">
<!ENTITY ntriangleright "&#x022EB;">
<!ENTITY ntrianglerighteq "&#x022ED;">
<!ENTITY nwarrow "&#x02196;">
<!ENTITY oint "&#x0222E;">
<!ENTITY OpenCurlyDoubleQuote "&#x0201C;">
<!ENTITY OpenCurlyQuote "&#x02018;">
<!ENTITY orderof "&#x02134;">
<!ENTITY parallel "&#x02225;">
<!ENTITY PartialD "&#x02202;">
<!ENTITY pitchfork "&#x022D4;">
<!ENTITY PlusMinus "&#x000B1;">
<!ENTITY pm "&#x000B1;">
<!ENTITY Poincareplane "&#x0210C;">
<!ENTITY prec "&#x0227A;">
<!ENTITY precapprox "&#x0227E;">
<!ENTITY preccurlyeq "&#x0227C;">
<!ENTITY Precedes "&#x0227A;">
<!ENTITY PrecedesEqual "&#x02AAF;">
<!ENTITY PrecedesSlantEqual "&#x0227C;">
<!ENTITY PrecedesTilde "&#x0227E;">
<!ENTITY preceq "&#x02AAF;">
<!ENTITY precnapprox "&#x022E8;">
<!ENTITY precneqq "&#x02AB5;">
<!ENTITY precnsim "&#x022E8;">
<!ENTITY precsim "&#x0227E;">
<!ENTITY primes "&#x02119;">
<!ENTITY Proportion "&#x02237;">
<!ENTITY Proportional "&#x0221D;">
<!ENTITY propto "&#x0221D;">
<!ENTITY quaternions "&#x0210D;">
<!ENTITY questeq "&#x0225F;">
<!ENTITY rangle "&#x0232A;">
<!ENTITY rationals "&#x0211A;">
<!ENTITY rbrace "&#x0007D;">
<!ENTITY rbrack "&#x0005D;">
<!ENTITY Re "&#x0211C;">
<!ENTITY realine "&#x0211B;">
<!ENTITY realpart "&#x0211C;">
<!ENTITY reals "&#x0211D;">
<!ENTITY ReverseElement "&#x0220B;">
<!ENTITY ReverseEquilibrium "&#x021CB;">
<!ENTITY ReverseUpEquilibrium "&#x0296F;">
<!ENTITY RightAngleBracket "&#x0232A;">
<!ENTITY RightArrow "&#x02192;">
<!ENTITY Rightarrow "&#x021D2;">
<!ENTITY rightarrow "&#x02192;">
<!ENTITY RightArrowBar "&#x021E5;">
<!ENTITY RightArrowLeftArrow "&#x021C4;">
<!ENTITY rightarrowtail "&#x021A3;">
<!ENTITY RightCeiling "&#x02309;">
<!ENTITY RightDoubleBracket "&#x0301B;">
<!ENTITY RightDownVector "&#x021C2;">
<!ENTITY RightFloor "&#x0230B;">
<!ENTITY rightharpoondown "&#x021C1;">
<!ENTITY rightharpoonup "&#x021C0;">
<!ENTITY rightleftarrows "&#x021C4;">
<!ENTITY rightleftharpoons "&#x021CC;">
<!ENTITY rightrightarrows "&#x021C9;">
<!ENTITY rightsquigarrow "&#x0219D;">
<!ENTITY RightTee "&#x022A2;">
<!ENTITY RightTeeArrow "&#x021A6;">
<!ENTITY rightthreetimes "&#x022CC;">
<!ENTITY RightTriangle "&#x022B3;">
<!ENTITY RightTriangleEqual "&#x022B5;">
<!ENTITY RightUpVector "&#x021BE;">
<!ENTITY RightVector "&#x021C0;">
<!ENTITY risingdotseq "&#x02253;">
<!ENTITY rmoustache "&#x023B1;">
<!ENTITY Rrightarrow "&#x021DB;">
<!ENTITY Rsh "&#x021B1;">
<!ENTITY searrow "&#x02198;">
<!ENTITY setminus "&#x02216;">
<!ENTITY ShortDownArrow "&#x02193;">
<!ENTITY ShortLeftArrow "&#x02190;">
<!ENTITY shortmid "&#x02223;">
<!ENTITY shortparallel "&#x02225;">
<!ENTITY ShortRightArrow "&#x02192;">
<!ENTITY ShortUpArrow "&#x02191;">
<!ENTITY simeq "&#x02243;">
<!ENTITY SmallCircle "&#x02218;">
<!ENTITY smallsetminus "&#x02216;">
<!ENTITY spadesuit "&#x02660;">
<!ENTITY Sqrt "&#x0221A;">
<!ENTITY sqsubset "&#x0228F;">
<!ENTITY sqsubseteq "&#x02291;">
<!ENTITY sqsupset "&#x02290;">
<!ENTITY sqsupseteq "&#x02292;">
<!ENTITY Square "&#x025A1;">
<!ENTITY SquareIntersection "&#x02293;">
<!ENTITY SquareSubset "&#x0228F;">
<!ENTITY SquareSubsetEqual "&#x02291;">
<!ENTITY SquareSuperset "&#x02290;">
<!ENTITY SquareSupersetEqual "&#x02292;">
<!ENTITY SquareUnion "&#x02294;">
<!ENTITY Star "&#x022C6;">
<!ENTITY straightepsilon "&#x003B5;">
<!ENTITY straightphi "&#x003D5;">
<!ENTITY Subset "&#x022D0;">
<!ENTITY subset "&#x02282;">
<!ENTITY subseteq "&#x02286;">
<!ENTITY subseteqq "&#x02286;">
<!ENTITY SubsetEqual "&#x02286;">
<!ENTITY subsetneq "&#x0228A;">
<!ENTITY subsetneqq "&#x0228A;">
<!ENTITY succ "&#x0227B;">
<!ENTITY succapprox "&#x0227F;">
<!ENTITY succcurlyeq "&#x0227D;">
<!ENTITY Succeeds "&#x0227B;">
<!ENTITY SucceedsEqual "&#x0227D;">
<!ENTITY SucceedsSlantEqual "&#x0227D;">
<!ENTITY SucceedsTilde "&#x0227F;">
<!ENTITY succeq "&#x0227D;">
<!ENTITY succnapprox "&#x022E9;">
<!ENTITY succneqq "&#x02AB6;">
<!ENTITY succnsim "&#x022E9;">
<!ENTITY succsim "&#x0227F;">
<!ENTITY SuchThat "&#x0220B;">
<!ENTITY Sum "&#x02211;">
<!ENTITY Superset "&#x02283;">
<!ENTITY SupersetEqual "&#x02287;">
<!ENTITY Supset "&#x022D1;">
<!ENTITY supset "&#x02283;">
<!ENTITY supseteq "&#x02287;">
<!ENTITY supseteqq "&#x02287;">
<!ENTITY supsetneq "&#x0228B;">
<!ENTITY supsetneqq "&#x0228B;">
<!ENTITY swarrow "&#x02199;">
<!ENTITY Therefore "&#x02234;">
<!ENTITY therefore "&#x02234;">
<!ENTITY thickapprox "&#x02248;">
<!ENTITY thicksim "&#x0223C;">
<!ENTITY ThinSpace "&#x02009;">
<!ENTITY Tilde "&#x0223C;">
<!ENTITY TildeEqual "&#x02243;">
<!ENTITY TildeFullEqual "&#x02245;">
<!ENTITY TildeTilde "&#x02248;">
<!ENTITY toea "&#x02928;">
<!ENTITY tosa "&#x02929;">
<!ENTITY triangle "&#x025B5;">
<!ENTITY triangledown "&#x025BF;">
<!ENTITY triangleleft "&#x025C3;">
<!ENTITY trianglelefteq "&#x022B4;">
<!ENTITY triangleq "&#x0225C;">
<!ENTITY triangleright "&#x025B9;">
<!ENTITY trianglerighteq "&#x022B5;">
<!ENTITY TripleDot "&#x020DB;">
<!ENTITY twoheadleftarrow "&#x0219E;">
<!ENTITY twoheadrightarrow "&#x021A0;">
<!ENTITY ulcorner "&#x0231C;">
<!ENTITY Union "&#x022C3;">
<!ENTITY UnionPlus "&#x0228E;">
<!ENTITY UpArrow "&#x02191;">
<!ENTITY Uparrow "&#x021D1;">
<!ENTITY uparrow "&#x02191;">
<!ENTITY UpArrowDownArrow "&#x021C5;">
<!ENTITY UpDownArrow "&#x02195;">
<!ENTITY Updownarrow "&#x021D5;">
<!ENTITY updownarrow "&#x02195;">
<!ENTITY UpEquilibrium "&#x0296E;">
<!ENTITY upharpoonleft "&#x021BF;">
<!ENTITY upharpoonright "&#x021BE;">
<!ENTITY UpperLeftArrow "&#x02196;">
<!ENTITY UpperRightArrow "&#x02197;">
<!ENTITY upsilon "&#x003C5;">
<!ENTITY UpTee "&#x022A5;">
<!ENTITY UpTeeArrow "&#x021A5;">
<!ENTITY upuparrows "&#x021C8;">
<!ENTITY urcorner "&#x0231D;">
<!ENTITY varepsilon "&#x0025B;">
<!ENTITY varkappa "&#x003F0;">
<!ENTITY varnothing "&#x02205;">
<!ENTITY varphi "&#x003C6;">
<!ENTITY varpi "&#x003D6;">
<!ENTITY varpropto "&#x0221D;">
<!ENTITY varrho "&#x003F1;">
<!ENTITY varsigma "&#x003C2;">
<!ENTITY varsubsetneq "⊊︀">
<!ENTITY varsubsetneqq "⊊︀">
<!ENTITY varsupsetneq "⊋︀">
<!ENTITY varsupsetneqq "⊋︀">
<!ENTITY vartheta "&#x003D1;">
<!ENTITY vartriangleleft "&#x022B2;">
<!ENTITY vartriangleright "&#x022B3;">
<!ENTITY Vee "&#x022C1;">
<!ENTITY vee "&#x02228;">
<!ENTITY Vert "&#x02016;">
<!ENTITY vert "&#x0007C;">
<!ENTITY VerticalBar "&#x02223;">
<!ENTITY VerticalTilde "&#x02240;">
<!ENTITY VeryThinSpace "&#x0200A;">
<!ENTITY Wedge "&#x022C0;">
<!ENTITY wedge "&#x02227;">
<!ENTITY wp "&#x02118;">
<!ENTITY wr "&#x02240;">
<!ENTITY zeetrf "&#x02128;">
<!ENTITY z.Rlarr "&#x02942;">
<!ENTITY z.rLarr "&#x02944;">
<!ENTITY z.rarrx "&#x02947;">
<!ENTITY z.olarr "&#x02940;">
<!ENTITY z.orarr "&#x02941;">
<!ENTITY z.nharr "&#x021F9;">
<!ENTITY z.tfnc "&#x02980;">
<!ENTITY z.tdcol "&#x02AF6;">
<!ENTITY z.ddfnc "&#x02999;">
<!ENTITY z.dshfnc "&#x02506;">
<!ENTITY z.rtri "&#x025B7;">
<!ENTITY z.ltri "&#x025C1;">
<!ENTITY z.rtrif "&#x025B6;">
<!ENTITY z.ltrif "&#x025C0;">
<!ENTITY z.diam "&#x02662;">
<!ENTITY z.hearts "&#x02665;">
<!ENTITY z.star "&#x02606;">
<!ENTITY z.squf "&#x025A0;">
<!ENTITY z.sqfnw "&#x025E9;">
<!ENTITY z.sqfse "&#x025EA;">
<!ENTITY z.sqfl "&#x025E7;">
<!ENTITY z.sqfr "&#x025E8;">
<!ENTITY z.sqshd "&#x025A9;">
<!ENTITY z.rvbull "&#x025D8;">
<!ENTITY z.scis "&#x02702;">
<!ENTITY z.cirf "&#x025CF;">
<!ENTITY z.sqh "&#x025A4;">
<!ENTITY z.sqv "&#x025A5;">
<!ENTITY z.sqhsw "&#x025A7;">
<!ENTITY z.sqhne "&#x025A8;">
<!ENTITY z.cirfl "&#x025D0;">
<!ENTITY z.cirfr "&#x025D1;">
<!ENTITY z.cirft "&#x025D3;">
<!ENTITY z.cirfb "&#x025D2;">
<!ENTITY z.vrecto "&#x025AF;">
<!ENTITY z.parl "&#x025B1;">
<!ENTITY z.merc "&#x0263F;">
<!ENTITY z.jup "&#x02643;">
<!ENTITY z.sat "&#x02644;">
<!ENTITY z.nept "&#x02646;">
<!ENTITY z.hfl "&#x00192;">
<!ENTITY z.pes "&#x020A7;">
<!ENTITY z.euro "&#x020AC;">
<!ENTITY z.lpargt "&#x029A0;">
<!ENTITY z.Sup "&#x02A08;">
<!ENTITY z.Inf "&#x02A07;">
<!ENTITY z.veeBar "&#x02A63;">
<!ENTITY z.Barwed "&#x02A5E;">
<!ENTITY z.Lap "&#x029CA;">
<!ENTITY z.xsqcup "&#x02A06;">
<!ENTITY z.Thr "&#x02A05;">
<!ENTITY z.xuplus "&#x02A04;">
<!ENTITY z.ang90 "&#x0299C;">
<!ENTITY z.els "&#x02A95;">
<!ENTITY z.lap "&#x02A85;">
<!ENTITY z.lEg "&#x02A8B;">
<!ENTITY z.prap "&#x02AB7;">
<!ENTITY z.lne "&#x02A87;">
<!ENTITY z.nlE "≦̸">
<!ENTITY z.prnap "&#x02AB9;">
<!ENTITY z.egs "&#x02A96;">
<!ENTITY z.gap "&#x02A86;">
<!ENTITY z.gEl "&#x02A8C;">
<!ENTITY z.nesim "≂⃒">
<!ENTITY z.scap "&#x02AB8;">
<!ENTITY z.sce "&#x02AB0;">
<!ENTITY z.gne "&#x02A88;">
<!ENTITY z.ngE "≧̸">
<!ENTITY z.scnap "&#x02ABA;">
<!ENTITY z.hex "&#x02394;">
<!ENTITY z.pdbdbd "&#x02393;">
<!ENTITY z.subE "&#x02AC5;">
<!ENTITY z.drule "&#x029F9;">
<!ENTITY z.urule "&#x029F8;">
<!ENTITY z.subnE "&#x02ACB;">
<!ENTITY z.nsubE "⫅̸">
<!ENTITY z.sqsbne "&#x022E4;">
<!ENTITY z.supE "&#x02AC6;">
<!ENTITY z.defas "&#x029CB;">
<!ENTITY z.supnE "&#x02ACC;">
<!ENTITY z.nsupE "⫆̸">
<!ENTITY z.sqspne "&#x022E5;">
<!ENTITY z.gammad "&#x003DD;">
<!ENTITY z.betav "&#x003D0;">
<!ENTITY z.epsiv "&#x003B5;">
<!ENTITY z.epsi "&#x003F5;">
<!ENTITY z.omicr "&#x003BF;">
<!ENTITY z.lsquo "&#x02039;">
<!ENTITY z.Theta "&#x003F4;">
<!ENTITY z.rsquo "&#x0203A;">
