Order Viewer/xslt/ptsiiisignal117.dtd

<!-- $Id: ptsiiisignal.dtd,v 1.54 2009/05/26 11:01:10 jmigchie Exp $
-->
<!-- PTSIII XML Signal DTD
     For signals to PTSIII
     Version 1.17 dated 26 May 2009
     Typical invocation:
     <!DOCTYPE messages SYSTEM "ptsiiisignal117.dtd">
-->
<!--
     v1.17  26 May 2009  [PTSIII release 2009.1, EWII release 2009.2]
     Changed with respect to v1.16
     * Added element nihms-id to model of element item
     * Added value P01 to entity %problem-type;
     
     v1.16  16 May 2008  [PTSIII release 2008.1, EWII release 2008.2]
     Changes with respect to v1.15
     * Added new optional element proof-uri to model of supplier-info
     * Added new optional element spa-form-received-date to model
       of element ats-info
     * Added the values pmc-imported, pmc-ready and pmc-on-web to entity %signal;
     * Added optional element pubmedcentral-id to model of element item
     * Added values CU, E-SUITE-SPA and SPA-PAYMENT-RECEIVED to entity %step;
     * Added optional elements spa-price, spa-currency, spa-po-number
       and spa-tax-exemption-number to model of element ats-info
     * Added values HHMI and SPONSOR-BILLING to entity %address-type;
     * Made element address/country optional

-->

<!ENTITY % signal   "( ew-received | ew-imported | ew-import-repair |
                       ew-resupply | ew-delivered-sd | ew-delivered-phoenix | ew-corrupt-order |
                       sd-received | sd-imported | sd-resupply | sd-on-web |
                       phoenix-received | phoenix-imported | phoenix-resupply | phoenix-on-web |
                       pmc-imported | pmc-ready | pmc-on-web |
                       ats-registered | ats-updated | ats-sent |
                       supplier-ready | supplier-problem |
                       pubacc-pdf-sent )" >

<!ENTITY % step     "( RSVP | CU | S0 | S5 | NIH | S50 | P0 | READY-FOR-ORDER |
                       S100 | S200 | S300 | P100 | Q200 | Q300 | S350 | F300 | H300 |
                       S5RESUPPLY | NIHRESUPPLY | S100RESUPPLY | S200RESUPPLY | S300RESUPPLY |
                       P100RESUPPLY | Q100RESUPPLY | Q300RESUPPLY | H300RESUPPLY | F300RESUPPLY |
                       PRINTED | BOUND | OFFPRINTS | E-OFFPRINT | LABELS |
                       SEND-ISSUE | SEND-OFF-SYSTEM-ISSUE | SEND-OFFPRINTS |
                       REGISTERED | COPYRIGHT | PUBACC | PUBACCRESUPPLY |
                       COLOUR-INVOICE-SENT | OFFPRINT-INVOICE-SENT | OFFPRINT-PAYMENT-RECEIVED |
                       E-SUITE-SPA | E-SUITE-COLOUR | E-SUITE-OFFPRINT |
                       SPA-INVOICE-SENT | SPA-PAYMENT-RECEIVED )" >

<!ENTITY % problem-type  "(F01|F02|F03|F04|F05|F06|F07|F08|F09|F10|
                           F11|F12|F13|F14|F15|F16|F17|F18|F19|F20|
                           F21|F22|F23|F24|F25|F26|F27|F28|F29|F30|
                           F31|F32|F33|F34|F35|F36|F37|F38|F39|F40|
                           F41|F42|F43|F44|F45|F46|F47|F48|F49|F50|
                           F51|F52|F53|F54|F55|F56|F57|F58|F59|F60|
                           E01|P01)" >
<!ENTITY % copyright-type  "(002|003|004|005)" >
<!ENTITY % yesno           "(y|n)" >

<!ENTITY % address-type    "( COLOUR-BILLING | OFFPRINT-BILLING | OFFPRINT-DELIVERY | HHMI | SPONSOR-BILLING )" >

<!ENTITY % figure-type     "( FCOL | FCIP )">

<!ENTITY % mo       "(01|02|03|04|05|06|07|08|09|10|11|12)" >
<!ENTITY % day      "(01|02|03|04|05|06|07|08|09|10|11|12|13|14|15|16|
                      17|18|19|20|21|22|23|24|25|26|27|28|29|30|31)" >
<!ENTITY % hr       "(00|01|02|03|04|05|06|07|08|09|10|11|
                      12|13|14|15|16|17|18|19|20|21|22|23)" >
<!ENTITY % ms       "(00|01|02|03|04|05|06|07|08|09|
                      10|11|12|13|14|15|16|17|18|19|
                      20|21|22|23|24|25|26|27|28|29|
                      30|31|32|33|34|35|36|37|38|39|
                      40|41|42|43|44|45|46|47|48|49|
                      50|51|52|53|54|55|56|57|58|59)" >

<!ELEMENT   messages    ( message+ )>

<!ELEMENT   message     ( time, signal, stage, ( item | issue ),
                          ( ew-info | sd-info | phoenix-info | supplier-info | ats-info )? )>
<!ATTLIST   message
            id          NMTOKEN         #REQUIRED>

<!ELEMENT   time        EMPTY>
<!ATTLIST   time
            day         %day;           #REQUIRED
            month       %mo;            #REQUIRED
            year        NMTOKEN         #REQUIRED
            hr          %hr;            #IMPLIED
            min         %ms;            #IMPLIED
            sec         %ms;            #IMPLIED>

<!ELEMENT   signal      EMPTY>
<!ATTLIST   signal
            id          %signal;        #REQUIRED>

<!ELEMENT   stage       EMPTY>
<!ATTLIST   stage
            step        %step;          #REQUIRED>

<!ELEMENT   item        ( pii, nihms-id?, pubmedcentral-id? )>
<!ELEMENT   pii         ( #PCDATA )>
<!ELEMENT   nihms-id    ( #PCDATA )>
<!ELEMENT   pubmedcentral-id  ( #PCDATA )>

<!ELEMENT   issue       ( ( jid | issn ),
                          ( ( pii , ( vol-first, vol-last?, iss-first?, iss-last?, suppl? )? ) |
                              ( vol-first, vol-last?, iss-first?, iss-last?, suppl? ) ) )>

<!ELEMENT   jid         ( #PCDATA )>
<!ELEMENT   issn        ( #PCDATA )>

<!-- vol/iss details in five-field PTS-III format -->
<!ELEMENT   vol-first   ( #PCDATA )>
<!ELEMENT   vol-last    ( #PCDATA )>
<!ELEMENT   iss-first   ( #PCDATA )>
<!ELEMENT   iss-last    ( #PCDATA )>
<!ELEMENT   suppl       ( #PCDATA )>

<!-- info for EW messages (see documentation) -->
<!ELEMENT   ew-info     ( prod-type, container, remarks? )>

<!ELEMENT   prod-type   ( #PCDATA )>
<!ELEMENT   container   ( #PCDATA )>
<!ELEMENT   remarks     ( #PCDATA )>

<!-- info for SD message (see documentation) -->
<!ELEMENT   sd-info     ( doc-count, container )>
<!ELEMENT   doc-count   ( #PCDATA )>

<!-- info for supplier messages (see documentation) -->
<!ELEMENT   supplier-info   ( copyright?, funded-by?, nih-opt-out?,
                              accepts-marketing-mail?,
                              pdf-pages?, pdf-pages-web?,
                              proof-uri?,
                              page-frac-body?, page-frac-trail?,
                              supp-prod-type?,
                              remarks?, problems?, invoice-nr? )>

<!ELEMENT   copyright       ( copyright-type, time )>
<!ELEMENT   copyright-type  EMPTY>
<!ATTLIST   copyright-type
            type            %copyright-type;  #REQUIRED>
<!ELEMENT   funded-by       ( #PCDATA )>
<!ELEMENT   nih-opt-out     EMPTY>
<!ATTLIST   nih-opt-out
            opt-out         %yesno;           #REQUIRED>
<!ELEMENT   accepts-marketing-mail   EMPTY>
<!ATTLIST   accepts-marketing-mail
            marketing-mail  %yesno;           #REQUIRED>
            
<!ELEMENT   pdf-pages       ( #PCDATA )>
<!ELEMENT   pdf-pages-web   ( #PCDATA )>
<!ELEMENT   proof-uri       ( #PCDATA )>
<!ELEMENT   page-frac-body  ( #PCDATA )>
<!ELEMENT   page-frac-trail ( #PCDATA )>
<!ELEMENT   supp-prod-type  ( #PCDATA )>

<!ELEMENT   problems        ( problem+ )>
<!ELEMENT   problem         ( problem-type, problem-remark )>
<!ELEMENT   problem-type    EMPTY>
<!ATTLIST   problem-type
            type            %problem-type;   #REQUIRED>
<!ELEMENT   problem-remark  ( #PCDATA )>
<!ELEMENT   invoice-nr      ( #PCDATA )>

<!-- info for Phoenix messages -->
<!ELEMENT   phoenix-info    ( remarks )>

<!-- info for OACS messages -->
<!ELEMENT   ats-info        ( funded-by?, copyright?, nih-opt-out?, accepts-marketing-mail?,
                              e-offprint?, no-paid-offprints?, covers?, offprint-price?,
                              offprint-cover-price?, offprint-shipping-cost?,
                              total-offprint-price?, offprint-currency?, offprint-po-nr?,
                              offprint-tax-exemption-nr?, offprint-order-date?,
                              total-colour-price?, colour-currency?, colour-po-number?,
                              colour-tax-exemption-number?, colour-form-received-date?,
                              spa-price?, spa-currency?, spa-po-number?,
                              spa-tax-exemption-number?, spa-form-received-date?,
                              figures?, addresses? )>

<!ELEMENT   e-offprint      EMPTY>
<!ATTLIST   e-offprint
            status          %yesno; #REQUIRED>
            
<!ELEMENT   no-paid-offprints  ( #PCDATA )>
<!ELEMENT   covers             ( #PCDATA )>
<!ATTLIST   covers
            status              %yesno; #REQUIRED>
            
<!ELEMENT   offprint-price             ( #PCDATA )>
<!ELEMENT   offprint-cover-price       ( #PCDATA )>
<!ELEMENT   offprint-shipping-cost     ( #PCDATA )>
<!ELEMENT   total-offprint-price       ( #PCDATA )>
<!ELEMENT   offprint-currency          ( #PCDATA )>
<!ELEMENT   offprint-po-nr             ( #PCDATA )>
<!ELEMENT   offprint-tax-exemption-nr  ( #PCDATA )>
<!ELEMENT   offprint-order-date        ( time )>

<!ELEMENT   figures         ( figure+ )>
<!ELEMENT   figure          ( figure-number, figure-type , billing? )>
<!ELEMENT   figure-number   ( #PCDATA )>
<!ELEMENT   figure-type     EMPTY>
<!ATTLIST   figure-type
            type            %figure-type;  #REQUIRED>

<!ELEMENT   billing         EMPTY>
<!ATTLIST   billing
            bill            %yesno; #REQUIRED>
          
<!ELEMENT   total-colour-price           ( #PCDATA )>
<!ELEMENT   colour-currency              ( #PCDATA )>
<!ELEMENT   colour-po-number             ( #PCDATA )>
<!ELEMENT   colour-tax-exemption-number  ( #PCDATA )>
<!ELEMENT   colour-form-received-date    ( time )>

<!ELEMENT   spa-price                    ( #PCDATA ) >
<!ELEMENT   spa-currency                 ( #PCDATA ) >
<!ELEMENT   spa-po-number                ( #PCDATA ) >
<!ELEMENT   spa-tax-exemption-number     ( #PCDATA ) >
<!ELEMENT   spa-form-received-date       ( time ) >

<!ELEMENT   addresses       ( address+ )>
<!ELEMENT   address         ( title?, forename?, surname?,
                              organisation?, institute?, department?,
                              address-1?, address-2?,
                              postal-code?, city?, country?,
                              phone?, fax?, email-address? )>
<!ATTLIST   address
            type             %address-type; #REQUIRED>

<!ELEMENT   title            ( #PCDATA )>
<!ELEMENT   forename         ( #PCDATA )>
<!ELEMENT   surname          ( #PCDATA )>
<!ELEMENT   organisation     ( #PCDATA )>
<!ELEMENT   institute        ( #PCDATA )>
<!ELEMENT   department       ( #PCDATA )>
<!ELEMENT   address-1        ( #PCDATA )>
<!ELEMENT   address-2        ( #PCDATA )>
<!ELEMENT   postal-code      ( #PCDATA )>
<!ELEMENT   city             ( #PCDATA )>
<!ELEMENT   country          ( #PCDATA )>
<!ELEMENT   phone            ( #PCDATA )>
<!ELEMENT   fax              ( #PCDATA )>
<!ELEMENT   email-address    ( #PCDATA )>
