AutoEproof_Thieme/Web References/URLService/CreateEproofURL.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="HelloWorld1">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorld1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorld1Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="f" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadFileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateURLWithUID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Client" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="JID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PDFPath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PWD" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateURLWithUIDResponse">
        <s:complexType />
      </s:element>
      <s:element name="CreateURLDefaultAID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Client" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="JID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PDFPath" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateURLDefaultAIDResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorld1SoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld1" />
  </wsdl:message>
  <wsdl:message name="HelloWorld1SoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorld1Response" />
  </wsdl:message>
  <wsdl:message name="UploadFileSoapIn">
    <wsdl:part name="parameters" element="tns:UploadFile" />
  </wsdl:message>
  <wsdl:message name="UploadFileSoapOut">
    <wsdl:part name="parameters" element="tns:UploadFileResponse" />
  </wsdl:message>
  <wsdl:message name="CreateURLWithUIDSoapIn">
    <wsdl:part name="parameters" element="tns:CreateURLWithUID" />
  </wsdl:message>
  <wsdl:message name="CreateURLWithUIDSoapOut">
    <wsdl:part name="parameters" element="tns:CreateURLWithUIDResponse" />
  </wsdl:message>
  <wsdl:message name="CreateURLDefaultAIDSoapIn">
    <wsdl:part name="parameters" element="tns:CreateURLDefaultAID" />
  </wsdl:message>
  <wsdl:message name="CreateURLDefaultAIDSoapOut">
    <wsdl:part name="parameters" element="tns:CreateURLDefaultAIDResponse" />
  </wsdl:message>
  <wsdl:portType name="CreateEproofURLSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HelloWorld1">
      <wsdl:input message="tns:HelloWorld1SoapIn" />
      <wsdl:output message="tns:HelloWorld1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <wsdl:input message="tns:UploadFileSoapIn" />
      <wsdl:output message="tns:UploadFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateURL">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Create Link with provided UID and PWD</wsdl:documentation>
      <wsdl:input name="CreateURLWithUID" message="tns:CreateURLWithUIDSoapIn" />
      <wsdl:output name="CreateURLWithUID" message="tns:CreateURLWithUIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateURL">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Create Link default AID as UID and PWD</wsdl:documentation>
      <wsdl:input name="CreateURLDefaultAID" message="tns:CreateURLDefaultAIDSoapIn" />
      <wsdl:output name="CreateURLDefaultAID" message="tns:CreateURLDefaultAIDSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CreateEproofURLSoap" type="tns:CreateEproofURLSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld1">
      <soap:operation soapAction="http://tempuri.org/HelloWorld1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <soap:operation soapAction="http://tempuri.org/UploadFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateURL">
      <soap:operation soapAction="http://tempuri.org/CreateURLWithUID" style="document" />
      <wsdl:input name="CreateURLWithUID">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CreateURLWithUID">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateURL">
      <soap:operation soapAction="http://tempuri.org/CreateURLDefaultAID" style="document" />
      <wsdl:input name="CreateURLDefaultAID">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CreateURLDefaultAID">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CreateEproofURLSoap12" type="tns:CreateEproofURLSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HelloWorld1">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <soap12:operation soapAction="http://tempuri.org/UploadFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateURL">
      <soap12:operation soapAction="http://tempuri.org/CreateURLWithUID" style="document" />
      <wsdl:input name="CreateURLWithUID">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CreateURLWithUID">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateURL">
      <soap12:operation soapAction="http://tempuri.org/CreateURLDefaultAID" style="document" />
      <wsdl:input name="CreateURLDefaultAID">
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CreateURLDefaultAID">
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CreateEproofURL">
    <wsdl:port name="CreateEproofURLSoap" binding="tns:CreateEproofURLSoap">
      <soap:address location="http://172.16.2.251:8081/eProof/CreateEproofURL.asmx" />
    </wsdl:port>
    <wsdl:port name="CreateEproofURLSoap12" binding="tns:CreateEproofURLSoap12">
      <soap12:address location="http://172.16.2.251:8081/eProof/CreateEproofURL.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>